[2016-10-18 09:16] #453 closed

[2016-10-18 10:16] Emoxus commented on #452
@samerton
We discussed this "issue". Closed?

[2016-10-18 10:16] #452 closed

[2016-10-18 13:15] Emoxus commented on #431
Closed

[2016-10-19 17:42] WASasquatch commented on #431
Coming from a admin of 100k a web console is very much needed. Too much
monitoring from work, home, the car, etc.

On Oct 18, 2016 6:15 AM, "Ali" <notifications@github.com> wrote:

[2016-10-22 12:12] TheRealPear commented on #451
Can't wait to see this

[2016-10-23 00:55] MuhsinunCool commented on #431
Agreed I still want a web console regardless ur rebuttles @Fellings1 I believe it's up to @samerton to make the decision of whether or not to add the web console.

[2016-10-24 20:21] TheRealPear opened #454 "[Unconfirmed] Software is prone to SQL injections"
### Template:
- What kind of issue is it (Question, Bug, etc.)? Bug
- In which version of NamelessMC did it occur (1.x.x)? 1.0.13
- How would you describe the issue?

My friend did a test of NamelessMC and found lot of thing wrong with it. The software's core SQL handler is broken, making it prone to SQL injections that could possibly damage a website using the software. Hopefully you can make thi

[2016-10-24 20:30] samerton commented on #454
Thanks for the report, if it's possible to send me a private message over on either Spigot or the Nameless site with more information (such as how the software can be exploited, and the exact tests you carried out) I'll be able to take a further look.

[2016-10-26 13:13] Fellings1 commented on #431
@MuhsinunCool I am actually part of the NamelessMC staff team just to be clear. Also I was just leaving my opinion on this post because some other options can assist in solving the issue.

[2016-10-26 19:48] melerpe opened #455 "[Error/Help] Can't connect to external mysql server"
**What kind of issue is it (Question, Bug, etc.)?** Bug.
**In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.13.
**How would you describe the issue?** Cannot connect to mysql server
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?**
Yes!
Website: http://avonturacraft.nl/
Config:
`<?php
$GLOBALS['config'] = array(
	"mysql" => array(
		"host" => '91.134.3.

[2016-10-26 19:51] Headhunterzpw commented on #455
If you're using remote mysql from your vps try to add a # in front of bind-address in /etc/mysql/my.cnf

And otherwise take contact with your hosting provider.

[2016-10-26 19:52] melerpe commented on #455
FIXED!, was a typo in the config!

[2016-10-26 19:52] #455 closed

[2016-10-26 20:05] Fellings1 commented on #455
@Headhunterzpw Thank you for the solution!

[2016-10-29 16:25] MuhsinunCool opened #457 "[Bug] Online Players Reply Error"
- What kind of issue is it (Question, Bug, etc.)? Bug
- In which version of NamelessMC did it occur (1.x.x)? 1.0.13
- How would you describe the issue? My server has been offline for a while and instead of the homepage saying there are 0 players online it says there are players online.
- Do you have (relevant) resources about this issue (Logs, pictures, etc.)? Yes:
  ![image](https://cloud.githubu

[2016-10-29 16:35] Headhunterzpw commented on #457
"Do you have an idea how or where the issue occurs? On the homepage. I think it's just a simple mistake in the response message for online players when the server is offline. Also, I think u should try Dinnerbone's Minecraft server pinger API: https://dinnerbone.com/minecraft/tools/status/ Thanks!"

Dinnerbone's api is python based which you have to install on your dedicated server or VPS which re

[2016-10-29 16:44] Fellings1 commented on #457
@Headhunterzpw @MuhsinunCool Hey Guys! The message saying there are players online is simply a added message with the code of the website but can be edited to your will. If you need help with the code feel free to ask.

[2016-10-29 17:06] Venomancy opened #458 "invalid token, glitchy custom pages"
### Template:
Bug
1.0.13
Whenever I create a custom page, it makes it, but then when I go to it, it just redirects me back to the home page. Also, sometimes it says Invalid Token
forums.venomance.net, forums.venomance.net/vote
No idea why.

[2016-10-29 17:31] partydragen commented on #458
Thats happen because you have multiple pages up at same time
like if you opening a another window to your website the other token will expire

Its fixed in the upconing v2 i think

[2016-10-29 17:33] Venomancy commented on #458
Thanks!

[2016-10-29 18:01] #458 closed

[2016-10-29 18:01] Venomancy opened #459 "please enter a valid api key"
### Template:
* What kind of issue is it (Question, Bug, etc.)? bug
* In which version of NamelessMC did it occur (1.x.x)? latest version
* How would you describe the issue? i put my buycraft api key in, which is valid, and it says please enter a valid api key.
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? forums.venomance.net
* Do you have an idea how or where the is

[2016-10-29 18:02] #459 closed

[2016-10-29 18:02] Venomancy commented on #459
Wanted the secret key not api key.

[2016-10-29 22:53] justin57754 opened #460 "[CRITICAL] Updating Issue 10.11 to 10.12"
Updating
This is happening when I update 10.11 to 10.12
When I go on the website it is just an error.
Text on the website: `
Notice: Undefined offset: 0 in K:\_webserver\XAMPP\htdocs\core\modules\Social_Media\initialisation.php on line 35

Notice: Trying to get property of non-object in K:\_webserver\XAMPP\htdocs\core\modules\Social_Media\initialisation.php on line 35

Fatal error: Uncaught except

[2016-10-30 06:10] Cl1608Ho commented on #460
I experienced the same. You need to create that table on your own.

What I did, to not have anything wrongly, was temporary copying line 115 of core/classes/Queries.php (which is about creating the table announcemens_pages) up to line 110 (in the if body, not the else). Then modify index.php (directly in the webroot) and insert `$queries->dbInitialise();' in line 50, directly after `require('core/

[2016-10-30 06:50] justin57754 commented on #460
Can you please elaborate? I do not know how to open the forum, it still shows the error on the website.

[2016-10-30 11:00] samerton commented on #460
What happens when you navigate straight to **yoursite.com/admin/update_execute** and then try viewing your site?

[2016-10-30 16:22] justin57754 commented on #460
It just sends me back to the normal domain with the error.

[2016-10-30 17:21] samerton commented on #460
Try replacing the contents of **pages/admin/update_execute.php** with [this code](https://gist.githubusercontent.com/samerton/269be2f93b2757424c04bd723bdd7ac0/raw/f05cf938e615a0e7101453a4237a3872cb9f9b55/update_execute.php), and try navigating to the same URL again.

[2016-10-30 18:34] justin57754 commented on #460
It worked but now I am getting this:

Notice: Undefined offset: 0 in K:\_webserver\XAMPP\htdocs\core\modules\Social_Media\initialisation.php on line 35

Notice: Trying to get property of non-object in K:\_webserver\XAMPP\htdocs\core\modules\Social_Media\initialisation.php on line 35

Fatal error: Call to undefined method DB::modifyColumn() in K:\_webserver\XAMPP\htdocs\core\classes\Queries.php on

[2016-10-30 18:36] samerton commented on #460
On which page do those errors appear?

[2016-10-30 18:37] Fellings1 commented on #460
@samerton Please check skype.

[2016-10-30 18:38] justin57754 commented on #460
I fixed the first 2 errors, just the last one now.

Fatal error: Call to undefined method DB::modifyColumn() in K:\_webserver\XAMPP\htdocs\core\classes\Queries.php on line 92

[2016-10-30 18:39] justin57754 commented on #460
That error only appears on the update execute page, the website is working now everywhere else.

[2016-10-30 18:40] justin57754 commented on #460
Now on the forum page it says this:

Notice: Trying to get property of non-object in K:\_webserver\XAMPP\htdocs\pages\forum\index.php on line 322

Notice: Trying to get property of non-object in K:\_webserver\XAMPP\htdocs\pages\forum\index.php on line 414

[2016-10-30 18:41] samerton commented on #460
Looks like there was an issue with uploading the upgrade files somehow, if you replace the contents of **core/classes/DB.php** with [this code](https://raw.githubusercontent.com/NamelessMC/Nameless/master/core/classes/DB.php) the issue should be resolved.

As for the issue on the forum page, that's simply a notice and it can be hidden by disabling error reporting in the AdminCP -> Misc tab.

[2016-10-30 18:44] justin57754 commented on #460
Now there is a blank tab in the AdminCP:

http://i.imgur.com/2bNuHzB.png

[2016-10-30 18:46] samerton commented on #460
There'll be more missing files from the upgrade, it's best if you re-download the upgrade files from [here](https://worldscapemc.co.uk/nl_core/nl1/updates/1012.zip) and then simply reupload them.

How did you upgrade from 1.0.11 to 1.0.12?

[2016-10-30 18:47] justin57754 commented on #460
I just dragged the files in and replace the existing ones.

[2016-10-30 18:49] samerton commented on #460
I'm presuming there may have been issues when replacing the existing files, as it looks like it's just the files which should have been updated (as opposed to the new ones) which are causing issues.

[2016-10-30 18:50] justin57754 commented on #460
I'm going to update to 1.0.13 now.

[2016-10-30 18:51] justin57754 commented on #460
Everything is up to date and fixed! Thank you!

[2016-10-30 18:51] #460 closed

[2016-10-30 18:59] samerton commented on #457
Thanks for spotting this, this should indeed state that the server is offline. I'll implement a fix for the next release.

[2016-10-30 19:01] Fellings1 commented on #457
@samerton Guess it was just an error within the code then. Thanks for taking it into consideration!

[2016-10-30 19:10] samerton commented on #447
I'll mark this issue as closed, if you're still experiencing issues feel free to re-open.

[2016-10-30 19:10] #447 closed

[2016-10-30 19:37] MuhsinunCool commented on #457
@samerton Thanks! :D

[2016-11-01 01:37] MuhsinunCool commented on #457
@Headhunterzpw Dinnerbone's API isn't Python based:
`Installation

mcstatus is available on pypi, and can be installed trivially with:

pip install mcstatus
Alternatively, just clone this repo!`

[2016-11-01 12:21] samerton commented on #457
Unfortunately it's not possible to implement Dinnerbone's API as it is indeed a Python class (which isn't compatible with, for example, shared web hosts). I'm hoping to implement an improved query system in a future update though.

[2016-11-01 22:03] Fellings1 commented on #457
close

[2016-11-01 22:03] #457 closed

[2016-11-02 19:57] TheRealPear opened #464 ""This website use cookies to improve your experience" banner popup every time."
### Template:
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.1.3
* How would you describe the issue? The blue banner always pop up when a user sign in, when loading the page and there is no option to disable that or move it.
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? None.
* Do you have an idea how o

[2016-11-02 20:02] partydragen commented on #464
Currently there are no options to disable that cookie alert but it will be added in future,
for now you can remove lines 215-221 from core/init.php

[2016-11-02 20:14] Fellings1 commented on #464
@partydragen Thanks for the solution!

[2016-11-02 20:15] #464 closed

[2016-11-02 21:16] TheRealPear commented on #464
Thank you, I'll keep that in mind

[2016-11-03 11:58] MitesMC opened #466 "[Solved] 1.0.13 Update issue"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
Not sure if this is a bug or just an issue on my part.
* In which version of NamelessMC did it occur (1.x.x)?
Occurred when trying to update to 1.0.13
* How would you describe the issue?
I had an older version of NamelessMC running. Noticed that there was a new version so I went ahead and tried to update as instructed. When trying to

[2016-11-03 12:11] samerton commented on #466
Looking at your site since reinstalling, it looks like there is a permission issue; the cache directory needs to be recursively writable.

If you're running Ubuntu/Debian, try the command
`sudo chown -R www-data:www-data /var/www/html/cache`

[2016-11-04 02:37] MuhsinunCool opened #467 "[Question] NamelessMC Plugin"
* What kind of issue is it (Question, Bug, etc.)? Question
* In which version of NamelessMC did it occur (1.x.x)? 1.0.13
* How would you describe the issue? I read somewhere that the plugin will have some interesting features. For example, I saw on the AdminCP that there's rank synchronization with this so called plugin and that it requires a key. Is this plugin already made or in-dev?

[2016-11-04 11:19] samerton commented on #467
The Nameless plugin is still a work in progress, unfortunately there's no estimated completion date at the moment.

[2016-11-04 12:38] Fellings1 commented on #467
@MuhsinunCool This is a good question that I have reason to believe that many people must be thinking.
Thanks for the good question!

[2016-11-04 12:38] #467 closed

[2016-11-04 23:45] Fellings1 commented on #466
@samerton Seems you have gave a reasonable solution to the issue. Ill close this for now feel free to comment down below for any further details and questions regarding the OP.

[2016-11-05 17:27] Venomancy opened #468 "cant reset password"
### Template:
* What kind of issue is it (Question, Bug, etc.)? question
* In which version of NamelessMC did it occur (1.x.x)? most recent
* How would you describe the issue? i forgot the admin panel password, and i dont know how to reset it
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs? no

[2016-11-05 20:57] mvilcis commented on #468
**New installation?**
Can’t you just reinstall Nameless then?

**Existing installation?**
Try resetting your password like a normal user.

[2016-11-06 11:46] Venomancy commented on #468
It just says Please Re-Authenticate although I'm already logged in for the forums, how would I reset the admin panel? Plus I can't reinstall it because all my forums is done already. I found the MySQL database but it's encrypted on my password, anyway to just change that?

[2016-11-06 13:59] mvilcis commented on #468
I see. Try this: Open an incognito window or just sign out. Try resetting your password like an ordinary user. Open the “Sign in” page and click the “Forgot password” link. Now, once you’ve reset your password, try to login again, and access the admin panel with that password you just added to the account.

Keep in mind that the MySQL database is encrypted for security reasons, therefore you canno

[2016-11-06 15:58] Venomancy commented on #468
Worked! Thanks <3

[2016-11-06 20:06] CallMeMantas opened #469 "[Suggestion] Switch away from Toastr to native browser notifications"
This is a feature request for future versions of Nameless. So, you might be thinking: Why? What are the benefits of switching? Well…

- Browser notifications can be seen even if you’re focused on another tab or program. You don’t have to look at the tab or site to see that something new is happening.
- By using native browser notifications, that means Nameless doesn’t have to worry about creating

[2016-11-06 20:07] mvilcis commented on #468
@Fellings1 Can you close this issue?

[2016-11-06 20:07] #468 closed

[2016-11-06 20:08] Fellings1 commented on #469
Seems like a good suggestion. Ill leave @samerton to make that decision

[2016-11-06 20:13] samerton commented on #469
I've stuck with Toastr for version 2, as I have some extra uses that I've implemented, however browser notifications can be used alongside. Thanks for the suggestion!

[2016-11-08 19:45] MitesMC commented on #466
Sorry for the delayed response. I have gone ahead and did what @samerton advised. Made the cache directory writable but the issue still persists. No additional error logs appeared since the initial report.

[2016-11-08 19:49] samerton commented on #466
@MitesMC Can you double check the permissions of the **cache/templates_c** directory, to ensure they're also writable?

[2016-11-08 19:52] samerton commented on #454
@TheRealPear Just wondering if you're able to shed any more light on the issue so I can take a further look?

[2016-11-08 20:28] MitesMC commented on #466
@samerton I just made the mentioned directory writable but hasn't resolved the issue.

[2016-11-08 20:39] TheRealPear commented on #454
Sorry, I have been busy in real life. I'll try to find the issue and let you know when I find it :)

[2016-11-09 13:49] Fellings1 commented on #454
@TheRealPear Thanks for your cooperation!

[2016-11-10 08:10] MitesMC commented on #466
I hate to seem impatient or annoying but does anyone have any idea what's causing this? Would really wish to have the forum working. Thank you in advance!

[2016-11-10 12:17] samerton commented on #466
Sorry for the late reply.

Can you try replacing **core/init.php** with [this code](https://gist.githubusercontent.com/samerton/fd43d734058acb611d51dfbaa5a473bb/raw/1ace90a184428069cfc7473726496ce938269037/init.php), in order to force-enable error reporting? Hopefully we'll get an error message being displayed on the page, or in the page source.

[2016-11-10 18:20] MitesMC commented on #466
@samerton
Here's what I got:
`Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'endrxyz_nmls.nl1_announcements_pages' doesn't exist' in /home/endrxyz/public_html/forum.mitecraft.com/core/classes/DB.php:42 Stack trace: #0 /home/endrxyz/public_html/forum.mitecraft.com/core/classes/DB.php(42): PDOStatement->execute() #1 /home/endrx

[2016-11-10 18:51] MitesMC commented on #466
Had a gut feeling it was a database issue based on the error message, gave reinstalling a quick try with a new database (I was using the old database). That solved the issue and things are working as intended now. Thank you so much for the help and cheers to the team!

[2016-11-10 18:56] samerton commented on #466
Glad your issue is resolved! :)

[2016-11-10 18:56] #466 closed

[2016-11-10 19:30] samerton commented on #449
Fixed in #462

[2016-11-10 19:30] #449 closed

[2016-11-10 19:34] samerton commented on #439
I'll mark this as closed, and use https://github.com/partydragen/BanAppeal/issues/6 as the discussion for this :)

[2016-11-10 19:34] #439 closed

[2016-11-11 10:52] darkkir3 opened #471 "Help with saving/uploading a NamelessMC version"
So I did save my current NamelessMC version before doing an update. Since I was more than a few versions behind I got the latest build from github. However, when trying to recover my old save, i get an 500 error.  The apache2 error log doesnt state any issues. I know that this is most likely not a bug of NamelessMC and it is just me screwing things up.

[2016-11-11 11:10] samerton commented on #471
There will probably be a large number of database changes which haven't been applied, as each individual update package from the AdminCP contains database patches.
If you can let me know which version you had initially, and the version you've updated to, I can create a script to update the database for you in one go.

[2016-11-11 12:07] darkkir3 commented on #471
I was trying to update from 109 to the currently newest version. Thank you for the fast support.

[2016-11-11 16:11] samerton commented on #471
I've quickly put together an upgrade script for you, if you create a new file named "upgrade.php" within the **pages** folder, and paste [this code](https://gist.githubusercontent.com/samerton/2bb2b40f334a338f007e9fde96b0e183/raw/20cc8fc8ea2ec893480c1ececbc46085678d421a/upgrade.php) within, you can head to yoursite.com/upgrade and hopefully the script will work.
It is untested though, and I highly

[2016-11-11 16:53] darkkir3 commented on #471
Well, it seems to have something to do with the current configuration. Applying the old configuration seems to throw an 500 error. Using a blank one will obviously fail since the page can't create a database connection. I tried running the script, however it seems like i can not head to any page of NamelessMC without a 500 error whatsoever. Is there a template for the config.php of the newest vers

[2016-11-11 16:56] samerton commented on #471
The configuration itself hasn't changed since version 1.0.0 was first released, as long as the connection details are the same there shouldn't be any issues there.

Can you try searching your server for the Apache error logs for the most recent errors? If you're using something like cPanel there should be an error log option within there.

[2016-11-11 17:02] partydragen commented on #471
@samerton think so easy it was if we had Server Hosting like NamelessHosting
Then its possible to help people directly

[2016-11-11 17:15] darkkir3 commented on #471
Sadly i dont use any webpanel. However, those are the recent entries in the apache2 log (var/log/apache2/error.log):
http://hastebin.com/ibayexulim.pas

[2016-11-11 17:21] samerton commented on #471
Unfortunately those errors don't seem to shed any light on the situation.

Can you try renaming the **upgrade.php** file you created within the **pages** directory to **install.php**, and then try navigating to yoursite.com/install? If you get a message saying the upgrade was successful, you can go ahead and delete the install.php file.

[2016-11-11 17:23] darkkir3 commented on #471
That actually worked. However it seems to throw some sql errors? o.o
http://hastebin.com/bizudafoku.sql

[2016-11-11 17:25] samerton commented on #471
I've updated the [gist](https://gist.githubusercontent.com/samerton/2bb2b40f334a338f007e9fde96b0e183/raw/968a278c5f8785d2dcb44fa13202c5388c8ccd4b/upgrade.php), can you replace the contents of the install.php file with that code?

[2016-11-11 17:29] darkkir3 commented on #471
The script didnt throw any errors, however the 500 error still persists. Also I do not seem to get any errors on my log file.

[2016-11-11 17:32] samerton commented on #471
Hopefully, replacing the contents of **core/init.php** with [this code](https://gist.githubusercontent.com/samerton/ccf74b29de40810394e7f8d18dc4b5f6/raw/df831764e0b82dafeef7a31807182c1df12a5cdc/init.php) should force errors to display on the screen.

[2016-11-11 17:36] darkkir3 commented on #471
It told me that my cache folder was not readable. After setting the perms correctly it seems to load now. However using the forums seems to display those errors: http://hastebin.com/gerujamuwa.pas

[2016-11-11 17:38] samerton commented on #471
Those notices don't actually affect functionality, and can be hidden by reverting your **core/init.php** [back to normal](https://raw.githubusercontent.com/NamelessMC/Nameless/master/core/init.php), and ensuring error reporting is disabled in the AdminCP -> Misc tab.

[2016-11-11 17:41] darkkir3 commented on #471
It seems to work fine now. Thank you for your help :3

[2016-11-11 17:41] #471 closed

[2016-11-11 18:09] samerton commented on #431
Whilst this is outside the scope of the main Nameless project, this is definitely something I can look into in terms of an addon for 2.0.

A third party plugin would have to be used, potentially jPanel itself (if the plugin is still active and it works).

[2016-11-13 19:13] OscarWoHA opened #472 "Admin-backend doesn't load - 504 Gateway Timeout"
**What kind of issue is it (Question, Bug, etc.)?** This is a bug.
**In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.13
**How would you describe the issue?** The admin backend doesn't load at all. Just getting a 504 Gateway time-out error.
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** No, unfortunately there aren't any error-messages while trying

[2016-11-13 19:25] samerton commented on #472
Can you navigate straight to a different section of the AdminCP via the URL, for example yoursite.com/admin/core?

If so, and you're using web hosting as opposed to a VPS/dedicated machine, this could be your web host blocking the file_get_contents function.

[2016-11-13 19:26] OscarWoHA commented on #472
I am using a dedicated server, and no, it doesn't let me load any of the sublinks under admin/

[2016-11-13 19:35] samerton commented on #472
Unfortunately I'm not sure what the issue could be, this isn't something I've seen occurring before.

Is this happening on a new installation, or has the admin panel worked in the past?
Also, are you running Apache or nginx?

[2016-11-13 19:39] OscarWoHA commented on #472
This is an installation that has been working for a couple of weeks. I am running Nginx. It seems like the problem only occurs in the Overview-page of the Admin-panel.

[2016-11-13 19:39] OscarWoHA commented on #472
Link to the installation:
https://trulscraft.no/

[2016-11-13 19:48] partydragen commented on #472
Oh, Your a staff from TrulsCraft? :P

[2016-11-13 19:52] samerton commented on #472
@OscarWoHA
Can you try replacing the contents of **pages/admin/index.php** with [this code](https://gist.githubusercontent.com/samerton/31d3d684ba3f88a77ebe0c46082aa080/raw/566bf768a76502e5f705d6ab2632a221376910ae/index.php)?
I've removed the update checker, hopefully it might help with your issue.

[2016-11-13 20:00] OscarWoHA commented on #472
That perfectly solved the problem, and yes, @partydragen I am head developer and system administrator at TrulsCraft.

[2016-11-13 20:02] samerton commented on #472
Glad to hear the issue is resolved, I'll look into implementing a "proper" fix for this for the next release.

[2016-11-13 21:08] OscarWoHA commented on #472
We'll be happy to host something for the project if you need anything.

[2016-11-14 13:35] Fellings1 commented on #472
@partydragen Please keep comments on topic to the issue.

[2016-11-15 11:00] Fellings1 commented on #472
I'm assuming the issue no longer persists, so I'll close the issue.

[2016-11-15 11:00] #472 closed

[2016-11-18 02:32] BlackBeltPanda opened #473 "[Suggestion] Option to use only in-game registration"
Suggestion: An option to disable the default registration in favor of a page instructing the user how to register in-game (using the new NamelessMC Plugin), including some minor details like ensuring they check their spam folder if they don't see their activation e-mail.

[2016-11-19 21:03] CallMeMantas opened #474 "[Suggestion] Switch from <style> tags to root/body classes"
Theming with `<style>` for custom pages is an OK solution, but it’s a bit clunky and could be improved by simply using root (`<html>` or `<body>`) classes instead.

With this approach, you can detect what page you’re in with CSS & JavaScript, take advantage of Sass, and the CSS is loaded alongside everything else on load. The source code looks cleaner! Just take a look at this comparison:

## With

[2016-11-22 16:00] samerton commented on #469
I've implemented browser notifications for version 2, which is not far off an initial pre-release :)

[2016-11-22 16:00] #469 closed

[2016-11-22 17:55] samerton opened #477 "API Registration method needs completing"
The email from the registration method refers to a signup completion page which has not yet been implemented.

[2016-11-25 05:08] Sandtato opened #478 "[Solution] SQL Connection Error Shared Hosting"
Type: Issue Fix

Issue Desc.: SQL Connection Error, Shared Hosting.

Description: Recently, my entire server network, including website, went offline due to a CloudFlare issue. Working with my web hoster's support team, we found this fix, which I think may be helpful to others on Shared Hosting, or even on their own web server. The fix involves a **different** SQL link, which usually can be reques

[2016-11-25 11:53] Fellings1 commented on #478
Thanks so much for this @Sandtato  :)

[2016-11-25 17:46] WASasquatch commented on #478
Not sure if CloudFare has patched this but this may result in overwrites of data in your SQL Database and unecessary MySQL Load from overwriting the same data.

[2016-11-25 19:03] Sandtato commented on #478
@WASasquatch While I'm not 100% sure, I believe the software would simply just use the existing data in the database. @Samerton or @Fellings1 can clarify this.

[2016-11-26 00:46] WASasquatch commented on #478
Ok, I read a similar fix for HumHub, and CloudFare, which caused a issue
with it not going through CF, and basically when the DB updated, cloudfare
just updated it with same info as it's getting the push but seeing the data
old than what's being pushed to it or something. Can't remember, all I know
is they used the direct server IP and msyql port to cause it.

On Fri, Nov 25, 2016 at 11:03 AM, San

[2016-11-30 00:49] samerton commented on #474
Version 2.0 (https://github.com/NamelessMC/Nameless/tree/v2) leaves most HTML/CSS to the active template.
Unfortunately I'm not sure I'll be able to implement Sass by default as it'd require extra extensions which many web hosts don't have, this could be implemented through custom templates though.

[2016-12-04 03:10] firedare101 opened #479 "BUG Big Heads and Non-Square Heads - Links Fixed"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.13 (or latest as on Dec 3, 2016)
* How would you describe the issue? Heads aren't square, heads are to big.
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? Yes, pictures
* Do you have an idea how or where the issue occurs? How to recreate the is

[2016-12-04 12:19] zikycz opened #481 "Please help a web"
Hello, I come from the Czech Republic and I have a problem with NamelessMC when basing on the forum topic and write a message there: česky
It writes: ?esky
Please advise me how to set it to not do this?

Here I give a photo : https://ctrlv.cz/vwbv

Here I set the table PhPMyAdmin : https://ctrlv.cz/ykwe

Web : netsword-server.tk

[2016-12-04 19:54] samerton commented on #481
Works okay on my localhost ([image](http://i.imgur.com/UOCz2ox.jpg)), but not on the official Nameless site. I'll take a look to see what the cause is (also links with #344).

[2016-12-04 20:04] samerton commented on #481
I've found the issue :)

To fix, head back into phpMyAdmin and edit your "nl1_custom_pages" and "nl1_posts" tables. Click "Operations", and beneath the "Collation" dropdown, tick the box saying "Change all column collations" and then click Go.

You'll need to edit your posts to fix the character, but you shouldn't experience the issue again.

[2016-12-04 20:04] samerton commented on #344
Solution in https://github.com/NamelessMC/Nameless/issues/481#issuecomment-264727114

[2016-12-04 20:04] #344 closed

[2016-12-04 21:01] #479 closed

[2016-12-04 22:54] #477 closed

[2016-12-05 13:57] Fellings1 opened #482 "[Suggestion]"
Add label solved for the issues that no longer persist.

Thanks!

[2016-12-05 14:00] samerton commented on #482
[Added](https://github.com/NamelessMC/Nameless/labels/solved) :)

[2016-12-05 14:00] #482 closed

[2016-12-05 15:05] zikycz commented on #481
Hi, I'm here, I do not : "Change all column collations"

Photo : https://ctrlv.cz/DcJF

[2016-12-05 15:18] samerton commented on #481
In that case, try:

- Edit the "content" column in the "nl1_custom_pages" table, and check the "Collation" field is utf8_czech_ci ([image](http://i.imgur.com/TXYyxom.jpg))
- Edit the "post_content" column in the "nl1_posts" table, and check the "Collation" field is also utf8_czech_ci ([image](http://i.imgur.com/hijxLhJ.jpg))

[2016-12-05 17:37] zikycz commented on #481
It works, thank you

[2016-12-05 17:38] zikycz opened #483 "Colours"
Hi How do I change the color groupky for groups that need Admin was at the red, but green.

[2016-12-05 18:36] samerton commented on #481
Glad to hear!

[2016-12-05 18:36] #481 closed

[2016-12-05 18:37] samerton commented on #483
Hi,

To do this, you need to change the "Group HTML" when editing the group in the AdminCP.

To change the admin colour from red to green, you can change the `<span class="label label-danger">` tag to `<span class="label label-success">`, in accordance with the [Bootstrap component variations](http://getbootstrap.com/components/#available-variations).

[2016-12-05 20:15] zikycz commented on #483
Tanks

[2016-12-05 20:20] zikycz opened #484 "TeamSpeak3"
Hello, my TS3 does not understand why page

Photo : https://ctrlv.cz/RS0t

Pages photo : https://ctrlv.cz/XXpp

IP : 149.202.93.191:12353

IP : ts3.hicoria.com:12353

[2016-12-05 20:47] #483 closed

[2016-12-05 20:51] samerton commented on #484
A time-out error is either due to incorrect ports (try double checking the virtual server port 9987), or if you're using web hosting they may have blocked external connections.

[2016-12-06 13:47] #3 closed

[2016-12-06 19:19] zikycz opened #485 "Web - registration - no origo"
Hello, how do I do to get to the forum to register players without Origo account and did not write them this

Photo : https://ctrlv.cz/JcrJ

Thank you in advance.

[2016-12-06 19:27] samerton commented on #485
Simply disable the "Use mcassoc?" option in the AdminCP -> Minecraft -> mcassoc tab :)

[2016-12-06 20:46] zikycz commented on #485
Tanks

[2016-12-06 21:08] #485 closed

[2016-12-07 00:54] samerton commented on #371
Should hopefully be fixed in https://github.com/NamelessMC/Nameless/commit/b6c3ce46fbb84f37df74f5ff1d31522aa7ba6ffb

[2016-12-07 02:24] samerton commented on #434
Added in 2bdc4b017346a901b82adc6754c21576498a3408

[2016-12-07 02:24] #434 closed

[2016-12-07 02:44] samerton commented on #425
I'll mark this as closed so #217 can be used for discussion :)

[2016-12-07 02:44] #425 closed

[2016-12-07 13:32] zikycz opened #486 "Colour"
Hello, How do I adjust to my forum when I write something, so the font color to be what is in the photo:  https://ctrlv.cz/cKBP

[2016-12-07 13:42] samerton commented on #486
Is this the font colour option you're referring to? http://i.imgur.com/Up0xKb7.jpg

[2016-12-07 13:58] Cl1608Ho opened #487 "Redundant access to forum permissions"
The edit group view in the admin panel should also show the permissions of the group to be edited for each forum and allow editing these permissions. This makes adding groups a lot less a hassle

[2016-12-07 14:00] Fellings1 commented on #487
Thinking this would be a suggestion we will take this into consideration. Thank you!

[2016-12-07 14:06] samerton commented on #487
The upcoming v2 release separates the core module (which includes the group editor) and the forum module (containing forum permissions) so for the initial v2 pre-releases it won't be possible to simply attach forum permissions to the group editor.

This is something which makes perfect sense though, so I'll get this done at some point post pre-release.

[2016-12-07 16:31] #371 closed

[2016-12-08 13:16] samerton commented on #414
Implementation started with https://github.com/NamelessMC/Nameless/commit/bca840ec0b4887e22783d3afae27da760b156d1a, just need to finish displaying the custom fields on profiles.

[2016-12-08 14:58] samerton commented on #155
v2 update:

`profiles > custom banners` - implemented
`fix the damn custom avatars` - still needs work
`fix the damn alerts` - fixed
`staff applications text area` - will be reworked as part of new Forms module

[2016-12-08 16:13] zikycz opened #489 "Help a web"
Hello, today I opened a website where I have installed NamelessMC and this give me what to do?

Photo : https://ctrlv.cz/C6Yl

[2016-12-08 16:24] samerton commented on #489
It looks like you are missing some files, have you already installed Nameless?

[2016-12-08 16:40] zikycz commented on #489
Somehow I missed you miss my files that I had already installed?

[2016-12-08 16:42] samerton commented on #489
From that error, you are missing [this file](https://github.com/NamelessMC/Nameless/blob/master/core/init.php) from your website; if you haven't installed Nameless yet, try reuploading all files again.

[2016-12-08 17:55] Fiiily commented on #155
How about you completely remove custom avatars while they suck? A lot of people lack the DB management tools to recover from the changes made by having a custom avatar.
Updated post.

[2016-12-10 18:42] zikycz opened #490 "Add ability to change the number of latest posts"
Hello, how do I do so at my appearing last 5 contribution but the last 10 contribution

[2016-12-10 18:47] samerton commented on #490
Are you referring to [these posts](http://i.imgur.com/mp2O49A.jpg) on profile pages?

[2016-12-10 19:15] zikycz commented on #490
I mean this: https://ctrlv.cz/2KwW

[2016-12-10 19:32] samerton commented on #490
In order to change the latest posts so there are 10 displayed instead of 5, you can simply change [line 433](https://github.com/NamelessMC/Nameless/blob/master/pages/forum/index.php#L433) of **pages/forum/index.php** and [line 813](https://github.com/NamelessMC/Nameless/blob/master/pages/forum/view_forum.php#L813) of **pages/forum/view_forum.php**, changing the 5 to 10.

[2016-12-12 17:22] zikycz commented on #490
Tanks

[2016-12-12 17:22] zikycz commented on #484
Ok

[2016-12-12 17:24] zikycz opened #493 "Web"
Hello, how do takovoudle table to her players to fill out and submit, and I like to read it?

https://ctrlv.cz/gSAj

[2016-12-12 17:25] zikycz opened #494 "šablona"
It is done to the background of falling snowflakes on a template?

[2016-12-12 17:26] samerton commented on #493
The upcoming version 2 update for Nameless will include a new custom form system, so you can create new applications for players to fill out and submit, and you will be able to read the applications in a much nicer layout.

[2016-12-12 17:34] zikycz commented on #493
And it's been set up now? I need it

[2016-12-12 18:16] #431 closed

[2016-12-12 18:17] Fellings1 commented on #486
@zikycz Could we have a response? Just so we can clear out the issues.

[2016-12-12 18:26] samerton commented on #494
The following steps will add snow to your website:

- First, download [this library](https://github.com/VincentGarreau/particles.js)
- Upload the file named **particles.min.js** to the **core/assets/js** folder
- Create a new file in the **core/assets/js** folder called **particlesjs-config.json**, and paste [this inside](https://gist.githubusercontent.com/samerton/15acb957e733ac95bdfcda00c62c688c

[2016-12-12 18:55] Lmmb74 commented on #494
DAAMN DANIEL, but it would be awesome that this was integrated.

[2016-12-12 19:12] Lmmb74 commented on #494
Can not get it to work :/

[2016-12-12 19:15] samerton commented on #494
@Lmmb74 what seems to be the problem? If you could send me a link to your site I can check it out.

[2016-12-12 19:15] Lmmb74 commented on #494
http://protonet.sytes.net/

[2016-12-12 19:17] samerton commented on #494
@Lmmb74 Can you make sure you followed the third bullet point, and named the json file correctly?

[2016-12-12 19:17] Lmmb74 commented on #494
Ok

[2016-12-12 19:19] Lmmb74 commented on #494
Checked

[2016-12-12 19:36] Lmmb74 commented on #494
Check the page now XDDD

[2016-12-12 19:37] Lmmb74 commented on #494
Seems that the trouble was the white background :V

[2016-12-12 19:38] Lmmb74 commented on #494
Actually I set the script to be loaded like this:
`echo '	<script src="' . PATH . 'core/assets/js/particles.min.js"></script>' . PHP_EOL;`
just after the toastr.js script ;)

[2016-12-12 19:40] Lmmb74 commented on #494
Mmmmm, maybe I will make a fork just to add this as an option, where should it be set? I thought that adding an 'Enable Christmas?' option in the General Settings will do it.

[2016-12-13 13:37] Fellings1 commented on #494
Maybe a snowy background that can you can enable? @Lmmb74

I was looking into that and seeing if Sam might consider it.

[2016-12-13 17:28] Lmmb74 commented on #494
Yup

[2016-12-14 08:27] Liphius opened #495 "Block other users"
Is it possible to add a block feature in the upcoming releases?

So for example, you could block incoming PMs from another user by clicking on a "Block" button on their profile (perhaps something next to the "Follow" option?).

[2016-12-14 13:36] Fellings1 commented on #495
@Liphius I believe that this suggestion has been brought up before but Ill check to make sure if this is going to be implemented within an upcoming update.

[2016-12-14 13:59] Fellings1 commented on #494
@partydragen Has something of the sort on his Site I can look into how he did it.

[2016-12-14 14:20] Lmmb74 commented on #494
Yeah please :D

[2016-12-14 18:28] samerton commented on #494
The problem with having an enable/disable button is that the snow effect depends on the template and any custom CSS that may be used, however it'd be possible in Nameless v2 to have a specific addon (however, it'd have to be developed specifically for one theme) which could do this.

[2016-12-14 18:30] Lmmb74 commented on #494
Or just adding the div in every theme but activating the script only if the option is enabled.

[2016-12-15 14:47] Fellings1 commented on #494
@Lmmb74  I dont think so.

[2016-12-15 17:14] samerton commented on #494
I'll go ahead and mark this as closed, as in version 1 the only solution is to modify the template manually.

[2016-12-15 17:14] #494 closed

[2016-12-15 17:17] Lmmb74 commented on #494
U.u, ok

[2016-12-16 09:14] BlackBeltPanda commented on #289
Just had a user report that their Google Authenticator codes stopped working on my site, as well.

[2016-12-18 00:55] samerton commented on #473
This is possible with the latest plugin dev builds (see the plugin repo for a link to the Jenkins), as registration can be disabled in the AdminCP -> Core -> Modules tab.

[2016-12-18 06:24] #473 closed

[2016-12-20 19:37] aycgit commented on #454
i've been testing it a little bit on my website and i haven't found sql or xss problems, im not a pro pentesting but i'd say this software isnt vulnerable

[2016-12-20 19:40] samerton commented on #454
Thanks @aycgit for the testing :)

There's always a possibility that things can crop up, I'll close this issue for now, @TheRealPear if you do find the issue please feel free to send me a message somewhere like Spigot where I'll be able to take a look.

[2016-12-20 19:40] #454 closed

[2016-12-20 19:42] samerton commented on #489
Were you able to fix the issue @zikycz?

[2016-12-20 19:42] samerton commented on #486
I'll mark this issue as closed, if you still have any questions feel free to re-open :)

[2016-12-20 19:42] #486 closed

[2016-12-20 19:43] samerton commented on #484
I'll go ahead and close this issue, if you're still experiencing issues with the TeamSpeak query feel free to re-open.

[2016-12-20 19:43] #484 closed

[2016-12-20 19:44] samerton commented on #474
I'll mark this issue as closed as the new version 2 template system allows for the CSS and HTML to be totally separate.

[2016-12-20 19:44] #474 closed

[2016-12-23 13:19] thomas15v commented on #208
[code]

Pretty sure you guys know better than me what is going on here, I copied coded all around until I had something that worked XD.

[2016-12-24 01:57] Chearful opened #498 "Ability to un-punish users from infractions"
As with other interfaces, I can always seem to find a way to unban/unmute a player from the web UI - I'd love to see this in Nameless.

I am currently using BungeeAdminTools.

Thanks!

[2016-12-29 01:27] Adondriel opened #499 "Infractions page takes ages to load"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.15
* How would you describe the issue?
The infractions addon: The page takes ~30seconds to load, each time, every time.
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
I can take a video if you want? I guess, lol.
* Do you have an idea how or wh

[2016-12-30 23:54] samerton commented on #414
Custom profile fields integrated in v2 pre-release 1 :)

[2016-12-30 23:54] #414 closed

[2017-01-01 02:11] godleydemon opened #502 "Had to nearly rewrite Infractions"
Was looking to use Infractions with BungeeUtilisals and it didn't work. After much much trouble shooting I realized it was because I was using PHP7 and the code for the BungeeUtilisals section was programmed with PHP5 in mind. As msql_connect and it's other functions are deprecated in PHP7. So this is what I ended up writing up to make it display the BungeeUtilisals. It's ugly as all get out, but

[2017-01-01 04:52] Fiiily commented on #502
Thanks. I'm glad you came along, partner.

[2017-01-01 04:55] godleydemon commented on #502
well to be honest, I'm still working a bit on it here. The thing is, I'm not sure how to pull from the other tables and do the switches right.

[2017-01-01 13:22] samerton commented on #502
I'll take a look into using BungeeUtilisals with PHP7, however all plugins within the Infractions addon use PDO instead of the mysql functions (which, as you say, are depreciated).

Once the Infractions addon is rewritten as a module for v2, I can also give everything a nice new redesign and make it more efficient.

[2017-01-01 13:37] godleydemon commented on #502
thanks alot Samerton, to be honest, I spent way to much time on this today XD. Was trying to convert it straight out and was having issues since I'm so used to php5 and not php7. So I'm unfamiliar with some of the changes that were made between versions and the usage of mysqli. That, and every fiber of my being was screaming do it in mysqli, even though a small little section of my brain started n

[2017-01-01 18:35] dangerORclose opened #504 "[QUESTION] Forum wider."
http://prntscr.com/dqcxzc
How do i change my forum starting from the left?
So it gets a bit bigger. But still end at the righter side like it is now.

[2017-01-01 18:40] dangerBEclose opened #505 "[SUGESSTION] Option to hide the root user and rename/remove the admin group."
Pretty much my title :-P
Option to hide the root user and rename/remove the admin group would be good.
Also a way to set a custom immage as background, but keep the forums and other things like social, teamspeak, members, etc. its background like the selected theme.
So i mean having a custom immage but keep all readable since the bacbground of all text stays like it is (by the selected theme)
Sorr

[2017-01-01 18:54] ghost opened #506 "Voice server module TS3 - add support for SRV records"
I am using the lastest version of NMC, but i know this was allready before an issue so i report it now once again here so it can gets fixed for a next update hopply.

The issue is when you fill in the info for the ts3 server it shows only the main ip on the homepage.
When you press join it connects you to that ip with the port 10011. Even when you change the port.

Thats issue 1 about that, but i

[2017-01-01 22:46] dangerBEclose opened #507 "[SUGGESTION] Dubtrack integration"
Can you implement Dubtrack integration?

[2017-01-01 23:00] samerton commented on #507
I'll see what I can do, are there any features in particular you'd like to see?

[2017-01-02 02:07] dangerORclose commented on #507
Yes, I have a lot of ideas,  but I don't want go go and spam this full with them.
But one of them is the option to set who is allowed to set a specified flag. (on the forums).
Since it's useful like n a server idea's or players report forum to mark them as accepted or not. But it's bad if the user can just set the flag to what they want.

[2017-01-03 00:09] dangerORclose opened #508 "[BUG] NASCAR TRANSELATION"
The navbar links like home, ban appeal, etc.  stay at English when you change the language to Dutch.

[2017-01-03 00:16] dangerORclose commented on #498
I think that this is more a part you need to discuss with the developer of that Plugin.
I also want this for lite and, but as I said, I think you better contact that Plugin developer for this.

[2017-01-03 06:39] MuhsinunCool commented on #505
+1 Yea I need this too. I just ended up making a COMPLETELY separate account and creating another group with afmin permissions called Owner and put my new account in that group

[2017-01-03 06:42] MuhsinunCool commented on #499
@samerton yes, please that would be great! Thanks!

[2017-01-03 10:14] samerton commented on #505
It's already possible to rename the Admin group (if you want to create an Owner group for the root account, simply renaming the Admin group is the best way to do this), however due to a few people accidentally deleting the admin group and locking themselves out of the AdminCP, the ability to delete the group won't be re-added.

It's possible to upload a custom background image in the version 2 pre

[2017-01-03 10:40] Chearful commented on #498
There's this functionality already in BAT's (ugly) web interface; as far as I know it should just be a few simple SQL queries.

[2017-01-03 11:35] DoraKlikOpDora commented on #505
@samerton I don't think that this is a big problem, because it is possible to change it in the database.

But do I break stuff when I give my admin group another ID than it is now, or will things get strange..?

[2017-01-03 11:39] samerton commented on #505
@DoraKlikOpDora Unfortunately not everyone knows how to modify their database, and in order to cater to all users I feel like it's best to keep these options disabled. In older releases, when the options were enabled, there were a large number of reports of users accidentally deleting their admin group without knowing how to get it back.

As for changing the group ID, if I remember correctly there

[2017-01-03 11:47] OscarWoHA opened #509 "[Suggestion] Icon-field in Custom Pages-tab"
I think that this should be a feature by default and am wondering why it isn't. Will probably make a PR with the feature added later today.

[2017-01-03 12:29] DoraKlikOpDora commented on #508
I have updated the Dutch language and fixed some things.
Although, the words home, navbar and some other things are still in English. I don't think most Dutch people like it when literally every word is Dutch. It is rare when you see a Dutch page saying instead of "Home" the word "Thuis" or "Voorpagina". If you do not like it that way, feel free to edit it yourself in the file: /styles/language/Du

[2017-01-03 18:20] DoraKlikOpDora opened #512 "[Suggestion] Infractions/Bans"
# I do not like the way infractions is included in Nameless, because...

Infractions and Unban appeal are literally not working together. The idea behind banning a player and having linked a bansystem, like BAT, is that you ban the player from the forums and from the game, but that the player is still able to create an unbanappeal.

At the moment you are banning a player from the website and it ca

[2017-01-03 18:47] IsS127 commented on #512
There is a NamelessPlugin that is under DEV.
If you have any other suggestions for the plugin please post here.
https://github.com/NamelessMC/Nameless-Plugin/issues
Thx!

[2017-01-03 19:44] Maximvdw opened #513 "No global config on install"
Upon installing I get an error that there is an undefined index "config"
https://github.com/NamelessMC/Nameless/blob/42d713fcc0e4899698b2d2dd27320f9bcd648f7d/core/classes/Config.php#L5

The installation continues without problems

[2017-01-03 19:45] samerton commented on #166
I'll close this now, and use #205 for further discussion regarding the staff applications module.

[2017-01-03 19:45] #166 closed

[2017-01-03 19:48] Maximvdw opened #514 "Support sub directory"
Support installation on a sub directory such as /forum .. etc..

Currently the site breaks with a
http://i.mvdw-software.com/2017-01-03_20-45-46.png

[2017-01-03 19:48] samerton commented on #513
Thanks, the error message should be suppressed within the v2 installer, however I'll prevent this altogether now.

[2017-01-03 19:50] samerton commented on #514
Unfortunately, fixing this issue for v1 would require modifying every link in the package, however the upcoming version 2 release (currently in pre-release stage, [repo can be found here](https://github.com/NamelessMC/Nameless/tree/v2)) fully supports subdirectory usage.

The only v1 workaround is to point a subdomain to the subdirectory.

[2017-01-03 19:56] Maximvdw commented on #514
Sorry, wasn't aware this was fixed in 2.0

[2017-01-03 19:56] #514 closed

[2017-01-03 19:58] Maximvdw opened #515 "Usage of REST API conventions"
Concerning "GET"ting a user
http://i.mvdw-software.com/2017-01-03_20-55-25.png

It isn't very logical to use a POST request to GET a user.
REST api conventions should require this to be a get request.

Too make this more like the REST api conventions I would change the following:

1. Make the "getting" of a user a GET request
2. To "put" the user a in different group use the PUT request

[2017-01-03 19:58] godleydemon commented on #502
Just discovered this doesn't seem to be working correctly with litebans either?

[2017-01-03 19:58] #513 closed

[2017-01-03 20:00] Maximvdw commented on #515
The 2. is a vague one. A lot of REST API's will make this a POST as well. But the 1st one seems a bit out of place

[2017-01-03 20:01] Maximvdw commented on #515
Also I don't see any docs for v2, so I assume this still applies to v2?

[2017-01-03 20:23] Maximvdw commented on #515
A few other notes I have on the API conventions is the response data. Instead of having
a "error":true and "success":true
I would use either of those and set it to true or false. Now a developer has to do 2 checks before actually knowing if the result is positive or false
http://i.mvdw-software.com/2017-01-03_21-22-12.png

[2017-01-03 20:28] partydragen commented on #515
Oh hey @Maximvdw :P You goes to use this API since your here? :P what u planning

will get @Samerton to take a look at this

[2017-01-03 20:35] Maximvdw commented on #515
Yeah, creating a quick module for my QAPlugin to ask the assistant to report users, register ,etc...

Another note:
http://i.mvdw-software.com/2017-01-03_21-33-07.png
The "response" should not be JSON inside a "message" this won't be parsed by JS, PHP or JSON.org (used in spigot) meaning you basically have to parse it an extra time

[2017-01-03 21:16] IsS127 commented on #515
Hey If we have a namelessplugin in DEV.
If you want to check it out how we access the api feel free to. https://github.com/NamelessMC/Nameless-Plugin
We Will also make a api plugin/library soon.

[2017-01-03 22:19] samerton commented on #508
Is this fixed by #511?

[2017-01-03 23:24] Maximvdw opened #516 "Allow formatting/new lines in report content"
Allow the usage of a formatting such as BBCode, ... in report content API
HTML is sanitized (what is good) so `<br>` can't be used.
But \n is not translated to `<br>` as well (what would be an easy fix)

This would make formatting more easier
![](http://i.mvdw-software.com/2017-01-04_00-21-41.png)

As you can see in the above image I want to include meta information about a report, but this is on

[2017-01-03 23:28] samerton commented on #516
Thanks, I'll modify the report system to allow the use of \n

[2017-01-03 23:30] Maximvdw commented on #516
Another option would be http://us2.php.net/strip_tags
that way you can enable HTML formatting limited to specified tags such as `<b>` `<br>` `<u>`

[2017-01-03 23:35] samerton commented on #516
There is a purification library used within Nameless to remove potentially harmful HTML tags whilst keeping  tags such as <br />, <strong> etc, however it's currently not used within reports.

I could add this if you think HTML would be a better option than \n

[2017-01-03 23:36] samerton commented on #516
There is a purification library used within Nameless to remove potentially harmful HTML tags whilst keeping  tags such as `<br />`, `<strong>` etc, however it's currently not used within reports.

I could add this if you think HTML would be a better option than \n

[2017-01-03 23:43] samerton commented on #504
The only way to achieve this is to change line 1 of **styles/templates/*Template*/forum_index_latest_discussions.tpl** from `<div class="container">` to `<div class="container-fluid">`, although this would also change the right side of the page.

[2017-01-03 23:45] samerton commented on #388
Should have been improved in the first v2 pre-release ([repo](https://github.com/NamelessMC/Nameless/tree/v2))

[2017-01-03 23:45] #388 closed

[2017-01-03 23:52] Maximvdw commented on #516
Would def. allow for more formatting. Bold can always be handy

[2017-01-04 16:52] samerton commented on #516
I've taken a quick look, and the use of HTML in report content should already be already permitted in v1. I've also added support for `\n` in the latest commit (55897ba50129feb8109a60f3cd76fa1b4a9988a2).

[2017-01-04 17:21] Fellings1 commented on #516
Solved?

[2017-01-04 17:23] samerton commented on #516
I'll double check HTML works as planned through the API first, if so hopefully the issue is resolved.

[2017-01-04 17:23] Fellings1 commented on #509
:)

[2017-01-04 19:25] samerton commented on #249
Update:

Complete:
- Bios: custom profile fields implemented in v2
- Emojis: implemented in v2
- Custom page links: implemented in v1.0.11

Todo:
- Following/friends: a full follower implementation coming in v2

[2017-01-04 20:52] samerton commented on #504
I'll mark this as closed as it can be customised through the template, if you're still experiencing issues feel free to re-open.

[2017-01-04 20:52] #504 closed

[2017-01-06 13:26] dgateles opened #520 "[Suggestion] Translation for Installation page"
Make possible translate installation page.

[2017-01-06 13:40] Headhunterzpw commented on #520
This is inpossible because of the nature how the system translates the system because of the variable which language should being used is saved in the database

[2017-01-06 13:47] dgateles commented on #520
This is possible adding a language selector on installation start page.

[2017-01-06 13:49] Headhunterzpw commented on #520
@dgateles And how would you save it? There are no tables that can save that information before the installation is completed. Or you need to hardcode the language which might reset after every update

[2017-01-06 13:53] dgateles commented on #520
JS can make it easy

[2017-01-06 14:26] Headhunterzpw commented on #520
It could be a cookie but I don't know how to store that..

[2017-01-06 15:38] samerton commented on #520
It can be done through a session variable, I'll look into it for the full v2 release.

[2017-01-08 00:32] Fiiily commented on #155
Custom banners wasn't quite implemented as desired. I wanted it to be uploadable.
Is this on the roadmap @samerton?

[2017-01-08 13:20] samerton commented on #155
Custom banners are taken from the **uploads/profile_images** directory, for now custom upload through FTP is possible however I can add an uploader through the AdminCP at some point.

[2017-01-11 23:18] MuhsinunCool commented on #512
I created an addon that does JUST what ur second bulletpoint asks! :D I took the BAT Web Interface and then themed it to look like NamelessMC :D I submitted a pull request and I'm currently waiting on them to accept it :D

[2017-01-11 23:24] MuhsinunCool commented on #498
I created an addon that does JUST what u want! :D I took the BAT Web Interface and then themed it to look like NamelessMC :D I submitted a pull request and I'm currently waiting on them to accept it :D

[2017-01-12 22:07] Chearful commented on #498
Ayy, thanks! :1st_place_medal:

[2017-01-12 23:06] MuhsinunCool commented on #498
Np! :D

[2017-01-14 00:36] dangerORclose opened #526 "[SUGGESTION] Social media login/register"
Can you allow players to log in and or registrer with there social media like facebook and twitter?
Becouse they never understands that after they register they need to go to there mail and click it.
And this is the solution in my part to it and to let them log in very fast.
And maybe direct integrated to ask to like the facebook page of the server too.

[2017-01-14 00:37] dangerORclose commented on #498
@Chearful Status update.
Thanks btw!

[2017-01-14 19:28] Faicu opened #528 "Converting from XenForo Error"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-01-16 09:17] iPolish opened #529 "I could give Polish Translation![WORKING]"
Working on it 💯 :>

[2017-01-18 13:45] Fellings1 commented on #529
Thank you! :1st_place_medal:

[2017-01-18 13:46] Fellings1 commented on #526
So an integration with those social media to sign in? @dangerORclose

[2017-01-18 14:15] samerton commented on #526
This is a planned addition for some point after v2's full release, see #451
I'll mark this as closed so we can use that issue for discussion :)

[2017-01-18 14:15] #526 closed

[2017-01-20 13:35] Fellings1 commented on #526
@samerton Added it to the milestone!

[2017-01-21 13:56] Maximvdw commented on #516
will try tonight

[2017-01-24 18:00] TheSander562 opened #531 "Issues with namelessmc 2.0"
* What kind of issue is it (Question, Bug, etc.)?
Bugs
* In which version of NamelessMC did it occur (1.x.x)?
2.0 prerelease 1
* How would you describe the issue?
There is a bug at AdminCP -> Core -> Reactions.
If you want to edit or create a new reaction with a negative type, you cant save it.
The others do work.
And at the registration page, the terms and conditions doesnt work.

[2017-01-24 22:06] MuhsinunCool commented on #188
@samerton I was planning on making a custom template to use Materialize-CSS and then also a theme with Materialize-CSS's CSS files. Wud that not be possible?

[2017-01-24 22:11] samerton commented on #188
@MuhsinunCool it's possible in version 2, however version 1 must have a Bootstrap based CSS framework.

[2017-01-25 00:11] MuhsinunCool commented on #188
If I were to make my template using the given default template in NMC 1.0.15's templates directory, wud that work on NMC 2.0? Or is NMC 2.0's default template completely different?

[2017-01-25 00:14] samerton commented on #188
@MuhsinunCool v2 templates are totally different, if you'd like to you can start developing a template using the first [v2 pre-release](https://github.com/NamelessMC/Nameless/tree/v2) (not recommended for use on a public site due to potential bugs and missing features)

[2017-01-25 00:17] MuhsinunCool commented on #188
Ummm... ty, but where exactly r the custom templates stored... Probably a dumb question... Can't seem to find it in NMC 2.0...

[2017-01-25 00:20] samerton commented on #188
@MuhsinunCool you can find templates in the **custom/templates** directory

[2017-01-25 00:20] MuhsinunCool commented on #188
Yep ty literally JUST found that haha!

[2017-01-25 14:00] Fellings1 commented on #188
Im guessing this was solved.

[2017-01-26 01:04] MuhsinunCool opened #532 "[Solved] NMC 2.0 Template Question"
* What kind of issue is it (Question, Bug, etc.)? Question
* In which version of NamelessMC did it occur (1.x.x)? 2.0.0
* How would you describe the issue? How do I theme the {$LOADING} variable?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? http://imgur.com/a/baFAB
* Do you have an idea how or where the issue occurs? Nope. I looked thru ALL the NMC 2.0 files with tex

[2017-01-26 14:46] samerton commented on #532
Glad you found a solution! :)

[2017-01-26 14:46] #532 closed

[2017-01-27 13:27] Fellings1 commented on #529
Any progress? @iPolish

[2017-01-27 16:46] samerton commented on #531
I'll take a look into negative reactions not creating now.

As for the terms and conditions not working, this is something I haven't yet implemented, along with the contact page.

[2017-01-27 18:19] TheSander562 commented on #531
Thank you, it works now.

[2017-01-28 19:05] samerton commented on #316
I'll mark this as closed, as we now have a repository for the plugin [here](https://github.com/NamelessMC/Nameless-Plugin) (which is still in development stages), where you can also find a link to development builds.

[2017-01-28 19:05] #316 closed

[2017-01-28 22:14] DaedalusPrime97 opened #533 "Website maintenance mode?"
Hi,

I don't know if this is the right section to place this in, but I was wondering would it be a coll features that you could put the website in maintenance mode? So for example when you put in the link of your website, that you will get a page with (This website is under construction, maintenance etc?)

Thank you :)

[2017-01-30 09:35] jesseke55 commented on #533
You can also create a index.html with a text that its in maintenance?

[2017-01-30 17:43] tomf42 opened #534 "Bug tracker"
Can you add BugTracker? It is page, where players can report bugs. I thing it is very useful for servers.

[2017-01-30 17:46] jesseke55 commented on #534
There is a option called: Create a forum.

I believe that a forum would be more efficient and takes less time to maintain

[2017-01-31 19:27] Awtra commented on #534
@tomf42 I would agree with the user above. You are able to create sub categories in which users are able to submit bugs.

[2017-01-31 19:30] Awtra commented on #533
Seems like I good idea. But as the user said above it is able to be done via the index.html. Let me know if you need anything else @DaedalusPrime97 .

[2017-02-01 13:44] samerton commented on #534
It's always a possibility that a bug tracker can be implemented in the form of an optional module in the future, however it'd be at some point after the v2 release.

[2017-02-02 02:25] MuhsinunCool opened #535 "[Suggestion] More Forum Post Abilities"
* What kind of issue is it (Question, Bug, etc.)? Suggestion
* In which version of NamelessMC did it occur (1.x.x)? 1.0.15
* How would you describe the issue? I would like a few new abilities to create a more intuitive forum posting interface. I would like the ability to add attachments to the post & put a calendar in the post. Any & all extra features would be amazing. Thanks! :D
* Do you have (r

[2017-02-02 13:02] #529 closed

[2017-02-03 10:48] jesseke55 commented on #529
@awtra he didn't work on it lol

[2017-02-04 14:56] bryanowen7 opened #536 "[Suggestion] Add Adsense Integration"
What kind of issue is it (Question, Bug, etc.)? Suggestion
In which version of NamelessMC did it occur (1.x.x)? 1.0.15
How would you describe the issue? Could you please add Adsense support? I want to monetize my website but I can't find where to insert the script so Google can review my website, if it's not possible yet, can you please tell me where to insert the script Google gave me so they can

[2017-02-05 15:39] samerton commented on #508
I'll mark this issue as closed.

[2017-02-05 15:39] #508 closed

[2017-02-05 20:17] MuhsinunCool opened #538 "How To Edit Pagination"
* What kind of issue is it (Question, Bug, etc.)? Question
* In which version of NamelessMC did it occur (1.x.x)? 2.0.0 pr1
* How would you describe the issue? Where are the files for the code for the pagination stored? I need the change the look of the pagination for my template. Thanks!

[2017-02-06 16:50] zikycz opened #539 "Database initialisation"
Hello, what can I do so that I can continue with the installation continue?

https://ctrlv.cz/ecRg

[2017-02-06 17:15] samerton commented on #539
Can you check your database using something like phpMyAdmin to see if any tables have been created?

If not, can you try replacing **pages/install.php** with [this code](https://gist.githubusercontent.com/samerton/839f62ebde45c878006f65ad12b0f511/raw/99f0d879ce0d1c258722b1e7165c68a7192e0bab/install.php) to see if any errors appear during the database step.

[2017-02-06 17:52] zikycz commented on #539
<?php
/*
 *	Made by Samerton
 *  http://worldscapemc.co.uk
 *
 *  License: MIT
 */

require('core/includes/password.php'); // Require password compatibility
require('core/integration/uuid.php'); // Require UUID integration

if(isset($_GET["step"])){
	$step = strtolower(htmlspecialchars($_GET["step"]));
} else {
	$step = "start";
}
?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="ut

[2017-02-07 14:10] samerton commented on #539
Can you edit the **pages/install.php** file again, but delete everything in there, and then add [this](https://gist.githubusercontent.com/samerton/839f62ebde45c878006f65ad12b0f511/raw/99f0d879ce0d1c258722b1e7165c68a7192e0bab/install.php) inside?

[2017-02-07 19:27] TheSander562 opened #540 "404 issue when going to my website"
What kind of issue is it (Question, Bug, etc.)?
Bugs
In which version of NamelessMC did it occur (1.x.x)?
2.0 prerelease 1
How would you describe the issue?
If i go to my website or any page of it, you get the 404 error, website: http://holocraftium.pe.hu/
Do you have an idea how or where the issue occurs?
If you go to any page even the index you get the 404 error.

[2017-02-08 09:12] samerton commented on #540
Have you moved your website between folders at any point? If so, you'll need to change the "path" config value (in **core/config.php**), as your website is in the main directory it'll need to be set to `""`.

[2017-02-08 09:28] TheSander562 commented on #540
"core" => array(
        "path" => "",
        "friendly" => true
    )
this is what it looks like, but it was already this when I got the error.

[2017-02-08 12:32] samerton commented on #540
Can you try changing `friendly` to false?

[2017-02-08 14:21] samerton commented on #538
If it's just the pagination CSS you need to change, simply override Bootstrap's pagination classes.
Otherwise, if you need to change the actual HTML, you can find it in **core/includes/render.inc.php**.

[2017-02-08 14:24] samerton commented on #516
I'll mark this as closed, v1.0.16 will support both \n and basic HTML in reports created through the API.

[2017-02-08 14:24] #516 closed

[2017-02-08 17:39] zikycz opened #541 "Databaze"
Help : https://ctrlv.cz/mZdD

[2017-02-08 18:36] samerton commented on #541
It looks like your web host does not support the InnoDB storage engine for MySQL, which is required by Nameless at the moment.

[2017-02-08 18:39] zikycz commented on #541
Oh, and how to solve it? Not in some old version NamelessMC normal MYSQL so I can connect.

[2017-02-08 18:41] samerton commented on #541
Nameless has always used the InnoDB engine for MySQL, so this must be down to host configuration.
If you're using shared hosting, I can only recommend asking them about the InnoDB MySQL engine.

[2017-02-08 18:42] zikycz commented on #541
Fuck. :D

[2017-02-08 20:10] TheSander562 commented on #540
okay changed it and the homepage works yeey, but if i want to go to example the login page it says the 404 error.

[2017-02-08 21:08] MuhsinunCool commented on #538
It's HTML, thanks! :D <3

[2017-02-09 14:15] TheProKiller756 commented on #540
Have you uploaded the .htacess file?

[2017-02-09 15:42] TheSander562 commented on #540
![image](https://cloud.githubusercontent.com/assets/14059770/22790461/946ac82a-eee6-11e6-94b1-8f40fb7c5c7a.png)

Yes i have uploaded the htacces file. (look at the right), but how do i check if the server has acces to it?

[2017-02-09 17:06] zikycz opened #542 "Help"
I'm entering the correct data but there it writes this: https://ctrlv.cz/fKo7, https://ctrlv.cz/18Pq, https://ctrlv.cz/C3eo

[2017-02-09 17:14] Headhunterzpw commented on #542
Refresh the page or re-enter the mysql login to let it process ;)

[2017-02-09 17:25] samerton commented on #540
The .htaccess file isn't the issue if you have `friendly` set to false.
I really can't think what the problem could be at the moment, has the website always done this, and if not what did you change which could have led to the problem?

[2017-02-09 17:26] Headhunterzpw commented on #540
Check your apache error logs that you can view: /var/log/apache2/error.log to see whats wrong.

[2017-02-09 17:37] TheSander562 commented on #540
@samerton the website worked a few weeks ago, then i didnt do anything for a long time and now i get this, but i didnt change anything.
@Headhunterzpw how can i check apache logs if im on a hosting website?

[2017-02-09 17:39] Headhunterzpw commented on #540
@TheSander562 Which control panel do you have? cPanel?

[2017-02-09 17:40] TheSander562 commented on #540
@Headhunterzpw i have hostinger webhost, so i dont think so, but i dont know for sure

[2017-02-09 17:43] Headhunterzpw commented on #540
On hostinger it should work fine.. Check the .logs folder when you are in / of your FTP

[2017-02-09 17:44] TheSander562 commented on #540
will look at it now, should i send you the file?

[2017-02-09 17:45] Headhunterzpw commented on #540
Well your best bet is to contact their support about it because they might give you the log for your site

[2017-02-09 17:47] TheSander562 commented on #540
okay will do it now.

[2017-02-09 20:40] masterdoctor commented on #493
@zikycz He means this release: https://github.com/NamelessMC/Nameless/milestone/4
You can track it's release at that link and I assume @samerton will issue a release date as it's about to arrive.
In short: No and it won't be released for a while (>2 weeks)

[2017-02-10 22:16] Bayside308 opened #543 "Forcing HTTPS prevents it from loading"
### Report:
* Type of issue: Bug
* Version: 1.0.15
* Description: I installed a certificate using "Certbot" and selected "Force HTTPS". Now I cannot get my forums to load. Chrome gives [this](http://imgur.com/a/Yz2Qq) error.
* HTTPS worked fine on my forums (running nameless) before certbot, but none of my other subdomains had HTTPS support.

[2017-02-10 22:53] Bayside308 commented on #543
After doing some more research, it appears that CloudFlare caused the issue. I've adjusted their settings and now my site works properly.

[2017-02-10 22:54] #543 closed

[2017-02-11 15:41] NoelBank opened #544 "When i download the .zip i dont get the install ?"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-02-11 15:42] NoelBank commented on #544
Ps i dont get the install **

[2017-02-11 15:43] Headhunterzpw commented on #544
https://github.com/NamelessMC/Nameless/releases/tag/v1.0.15

Have fun ;)

[2017-02-11 16:53] samerton commented on #544
There is in installation file provided, and Nameless will load it provided your server is correctly configured. If you're getting a not found error, you'll need to follow the steps provided [here](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc) to correctly configure your server.

[2017-02-11 16:56] NoelBank opened #545 "where can i download the Plugins??"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-02-11 17:03] zikycz opened #546 "DB"
When your system does not use InnoDB database, I want a normal database, I've used before. Please consult your me what to do.

[2017-02-11 17:21] NoelBank opened #547 "I need help i dont get the install.php!"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-02-11 17:22] Headhunterzpw commented on #547
Its build in and you aren't telling us what did you do and such... for fuck sake

[2017-02-11 17:28] NoelBank commented on #547
Look at that http://noelbank.de/Nameless/ <----

[2017-02-11 17:29] Headhunterzpw commented on #547
Did you read the installation guide?

[2017-02-11 17:29] NoelBank commented on #547
yes

[2017-02-11 17:29] NoelBank commented on #547
i put that on my VPS an open it at web more not

[2017-02-11 17:29] Headhunterzpw commented on #547
Nameless should being installed in the root directory of your website.

[2017-02-11 17:30] NoelBank commented on #547
no in the Nameless.

[2017-02-11 17:31] NoelBank commented on #547
but i dont get the install.php or the install directory

[2017-02-11 17:31] Headhunterzpw commented on #547
It should being installed onto a root part of the domain otherwise it will not work. And also enable mod rewriting.. Which OS do you have?

[2017-02-11 17:32] NoelBank commented on #547
Debian 8

[2017-02-11 17:33] NoelBank commented on #547
that my root part /var/www/wordpress an i made it /var/www/wordpress/Nameless

[2017-02-11 17:34] Headhunterzpw commented on #547
It should be in /var/www/wordpress Or create a subdomain with virtualhost to run nameless onto it.

[2017-02-11 17:35] NoelBank commented on #547
And how do I do it? And I still lack the install folder

[2017-02-11 17:36] NoelBank commented on #547
look at that pls : http://noelbank.de/Nameless/install?step=requirements 👎

[2017-02-11 17:36] Headhunterzpw commented on #547
http://bfy.tw/A28P

[2017-02-11 17:38] NoelBank commented on #547
wow, thats help me not enought.

[2017-02-11 17:39] NoelBank commented on #547
Sorry vor my bad English i'm a german

[2017-02-11 17:40] Headhunterzpw commented on #547
It tells you how to search: How to create a virtualhost on debian 8 because you don't have enough knowledge to use linux and to host a website at all... Please learn that before you are doing that. Host your website on a webhosting to prevent those issues.

[2017-02-11 17:40] NoelBank commented on #547
http://37.114.62.186/   <--- My Test Server i install it

[2017-02-11 17:41] Headhunterzpw commented on #547
Install php and it looks like you don't know enough about linux.. This is just a basic thing that the most medium experienced system administrators and linux users know

[2017-02-11 17:43] NoelBank commented on #547
but i can install the 2.0 pre is any diffrent??

[2017-02-11 17:44] Headhunterzpw commented on #547
You will still get the same error if you didn't follow the right steps and tips that I gave you

[2017-02-11 17:45] NoelBank commented on #547
no the 2.0 Has worked great

[2017-02-11 17:45] NoelBank commented on #547
look in the root but agains http://37.114.62.186/install?step=requirements

[2017-02-11 17:45] Daf4Life commented on #547
@NoelBank Follow the steps that @Headhunterzpw gave you :)

[2017-02-11 17:46] Headhunterzpw commented on #547
It works fine for me on my VPS and cPanel server.

[2017-02-11 17:46] NoelBank commented on #547
@daf4life i made it

[2017-02-11 17:46] NoelBank commented on #547
https://gyazo.com/323544e9133a1a0aafdd12dce0385e0b

[2017-02-11 17:47] NoelBank commented on #547
I just follow the steps from `https://www.youtube.com/watch?v=BlRz9gpS-Ew`

[2017-02-11 17:48] NoelBank commented on #547
and from `https://github.com/NamelessMC/Nameless/wiki/Installation`

[2017-02-11 17:50] Headhunterzpw commented on #547
You have this issue: https://www.i.jessegeerts.nl/2017-02-11_18-50-41.png

[2017-02-11 17:53] samerton commented on #544
I'll close this and use #547

[2017-02-11 17:53] #544 closed

[2017-02-11 17:54] NoelBank commented on #547
nope

[2017-02-11 17:55] Headhunterzpw commented on #547
Did you enable mod_rewrite?

[2017-02-11 17:55] NoelBank commented on #547
I am missing the install directory after downloading the rest fits

[2017-02-11 17:55] samerton commented on #547
You are missing the `.htaccess` file from your /var/www/html folder, try creating one and paste [this](https://raw.githubusercontent.com/NamelessMC/Nameless/master/.htaccess) inside.

If, even with the .htaccess file there, you are still getting the error, you will need to configure your server to allow the use of Apache's mod_rewrite and htaccess files as @Headhunterzpw says.

[2017-02-11 17:56] NoelBank commented on #547
but my website noelbank.de fits very good an my pannel noelbank.de/pan an my Music bot too noelbank.de:8087

[2017-02-11 17:56] Headhunterzpw commented on #547
The install file is placed in a directory that can only being reached if the .htaccess file is in use and mod_rewrite enabled

[2017-02-11 17:56] samerton commented on #541
I'll close this to stick with #546

[2017-02-11 17:56] #541 closed

[2017-02-11 17:58] Headhunterzpw commented on #547
Nameless works in a different way then your music bot and panel.

[2017-02-11 17:59] NoelBank commented on #547
thats right but i dont have the install directoy not!!! I think that is the problem

[2017-02-11 18:00] NoelBank commented on #547
I just add that from  @samerton
and it work not -.-

[2017-02-11 18:01] Headhunterzpw commented on #547
Its a file. And did you restart apache too to see if that would help?

[2017-02-11 18:02] Headhunterzpw commented on #547
I did a nasty workaround on your site... http://noelbank.de/Nameless/?step=requirements

Remove the install part

[2017-02-11 18:02] NoelBank commented on #547
i dont hav any install part!1!

[2017-02-11 18:04] Headhunterzpw commented on #547
Remove the install part from the URL -______-

Use your brain or just let setup someone else for you.

[2017-02-11 18:05] samerton commented on #547
I can assure you the install file is definitely there, it can be found in the **pages** folder.
It **must** be in the pages folder to work; if you take it out of there, it won't work correctly.

The version 2.0 pre-release 1 will work without changing anything, so you can either try that (although it is probably quite buggy and missing features), or the guide [here](https://github.com/NamelessMC/N

[2017-02-11 18:06] Headhunterzpw commented on #547
@samerton It won't work without a proper rewrite rule.

[2017-02-11 18:08] samerton commented on #547
@Headhunterzpw By default, v2 has friendly URLs disabled and it doesn't use the htaccess file, which is an optional setting in the AdminCP.

[2017-02-11 18:08] NoelBank commented on #547
okay okay okay stop i dont can follow what have i to do?

[2017-02-11 18:10] NoelBank commented on #547
in my .htacces is
`# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
  Options +FollowSymLinks
  Options -Indexes
  RewriteEngine On

  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f

  Rewr

[2017-02-11 18:11] Headhunterzpw commented on #547
You need a .htaccess from the nameless repository into the Nameless folder.

[2017-02-11 18:11] samerton commented on #547
Nameless v1 won't work alongside Wordpress, if you don't actually have Wordpress installed remove everything from that file up until `### END WordPress`

[2017-02-11 18:12] samerton commented on #546
Nameless has always used InnoDB as its database engine, may I ask which web host you are using?

[2017-02-11 18:13] NoelBank commented on #547
okay i delete evrything from Wordpress but i get agans error 400

[2017-02-11 18:15] Headhunterzpw commented on #547
@NoelBank https://www.lifewire.com/how-to-fix-a-400-bad-request-error-2617988

[2017-02-11 18:15] NoelBank commented on #547
@Headhunterzpw im mean 404

[2017-02-11 18:16] samerton commented on #547
The only way you can fix the 404 is to follow [these steps](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc), or contact either myself or @Headhunterzpw to configure your server for you.

[2017-02-11 18:17] NoelBank commented on #547
Okay im in `/var/www/wordpress/Nameless` and then i open `.htaccess` and add
`  Options +FollowSymLinks
  Options -Indexes
  RewriteEngine On

  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f

  RewriteRule ^.*$ ./index.php`
And its works not for me

[2017-02-11 18:20] NoelBank commented on #547
i put the nameless site to root and its works not [LINK](noelbank.de)

[2017-02-11 18:21] Headhunterzpw commented on #547
Issue not found.

[2017-02-11 18:22] Headhunterzpw commented on #547
Best workaround: https://www.i.jessegeerts.nl/2017-02-11_19-21-58.gif

[2017-02-11 18:22] NoelBank commented on #547
Yes i dont know can you help me to setup an system?

[2017-02-11 18:23] NoelBank commented on #547
wow thanks <3 <3 <3 <3 <3 <3 <3 <3 <3

[2017-02-11 18:23] Headhunterzpw commented on #547
That gif would show the "best" way to have it as a temporaily workaround of this issue

[2017-02-11 18:25] zikycz commented on #546
I use a hosting Endora.cz, but there must be bought InnoDB

[2017-02-11 18:25] zikycz commented on #546
And it would not somehow be converted into a normal Mysql, earlier it worked

[2017-02-11 18:28] #547 closed

[2017-02-11 18:31] #545 closed

[2017-02-11 19:37] samerton commented on #546
InnoDB is the "normal" MySQL engine (it's the standard), however some free web hosts block it as an incentive to get users to upgrade to their paid plans, seeing as it's used so frequently. I can look into adding an option to change the database engine for v2.

For now, if you're looking to stick with free hosting, you can either:
- edit [lines 112-150](https://github.com/NamelessMC/Nameless/blob/

[2017-02-11 21:33] zikycz opened #548 "Ask"
Hello, how do I remove this? https://ctrlv.cz/Hgdz

[2017-02-11 22:03] IsS127 commented on #540
dont delete cache.

[2017-02-11 23:39] MuhsinunCool commented on #538
@samerton just realized that core/includes/render.inc.php isn't part of the template... I just want to edit the html for my template... :c

[2017-02-12 07:56] Headhunterzpw commented on #540
If you delete cache the site would break because it will being impossible to cache data

[2017-02-12 10:09] TheSander562 commented on #540
I have just reset the website, and now i have one last question. Why does my hostinger say that the rescource limit is exceeded? If i use namelessmc 1.0.15 it doesnt say that. If i look at the network tab from the developer tools from my browser i can see that pms.php and alert.php are constantly querying(dont know if this is the right word to say this). How can i resolve this?

[2017-02-12 10:12] TheProKiller756 commented on #540
Thats because in  hostinger free plan usually happens this because you're using a lot of recourses and exceding the limit,I recommend you pay a hosting or search another free hosting like viewsocial.es or hostminio.es

[2017-02-12 10:15] IsS127 commented on #540
Or you could use namelesshosting Thats free.

[2017-02-12 10:29] Headhunterzpw commented on #540
Yea use namelesshosting or get a VPS or a paid webhosting

[2017-02-12 11:27] samerton commented on #548
You can remove [lines 41-49](https://github.com/NamelessMC/Nameless/blob/master/core/includes/template/footer.php#L41-L49) of **core/includes/template/footer.php**, although we really appreciate if there is some link back to our GitHub.

[2017-02-12 11:38] samerton commented on #540
It looks like I kept the PM/alert query interval really low after doing some testing a while back, I've increased them back up to the original 20 seconds so hopefully things should be a bit better now.
If you want to apply the necessary changes now, before the next pre-release, you can find the related commit here: fbd769fde378f58953880df8497a7004d31a819c

[2017-02-12 11:53] samerton commented on #538
Unfortunately it's only possible to modify it globally (same goes for v2 at the moment, hopefully this will have changed for the full v2 release).

[2017-02-12 13:28] TheSander562 commented on #540
okay thank you all, it's all working great again.

[2017-02-12 13:28] #540 closed

[2017-02-12 13:48] AltijdSander opened #549 "Language file error"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
 Bug
* In which version of NamelessMC did it occur (1.x.x)?
2.0.0
* How would you describe the issue?
When i configure the website, it wil say an error:

"Error loading language file general.php in Core"
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?

It will say: "Error loading language file general.php i

[2017-02-12 14:06] zikycz opened #550 "Help please"
Hello, it's somewhere to determine access to the administration, I accidentally banned the group in groupkách Admin, AdminCP (entering administration) and does not get there, what to do?

[2017-02-12 14:49] MuhsinunCool commented on #538
Yea, I'm trying to make the template for NMC v2 :/ alr well ty anyways :/

[2017-02-12 15:35] #546 closed

[2017-02-12 15:35] #548 closed

[2017-02-12 15:38] samerton commented on #550
You will need to modify your database using phpMyAdmin or something similar to regain access to the AdminCP.

Edit your group in the `nl1_groups` table, and set `admin_cp` to 1.

[2017-02-12 15:42] samerton commented on #549
Have you selected a custom language through the AdminCP?

[2017-02-12 16:20] zikycz opened #551 "Email"
How do I edit an email message?

[2017-02-12 16:20] zikycz commented on #551
https://ctrlv.cz/fKUr

[2017-02-12 16:30] zikycz opened #552 "Remove"
Remove : https://ctrlv.cz/q7jN

[2017-02-12 20:29] samerton commented on #551
You can edit the `$email_language` array in [styles/language/*Language*/language.php](https://github.com/NamelessMC/Nameless/blob/master/styles/language/EnglishUK/language.php#L792-L797) to modify the email content.

[2017-02-12 20:29] samerton commented on #552
You can delete the "Help" custom page in the AdminCP.

[2017-02-12 20:30] #550 closed

[2017-02-12 20:30] samerton commented on #539
I'll mark this as closed (#546)

[2017-02-12 20:30] #539 closed

[2017-02-12 20:30] #542 closed

[2017-02-13 14:50] zikycz commented on #489
No

[2017-02-16 16:26] zikycz opened #561 "Menu colour"
Hello, I would like to change the color of the menu is in the photo : https://ctrlv.cz/5W6L I would like to change it to that color : https://ctrlv.cz/APUm

[2017-02-16 18:25] samerton commented on #561
You'll need to override the Bootstrap navbar component CSS, [this](http://stackoverflow.com/a/18529465) provides all the information you'll need to do this :)

[2017-02-17 14:14] zikycz commented on #561
Thanks

[2017-02-18 20:38] samerton commented on #561
No problem

[2017-02-18 20:38] #561 closed

[2017-02-18 20:38] #552 closed

[2017-02-18 20:39] samerton commented on #551
I'll mark this as closed, if you have any further questions please feel free to re-open.

[2017-02-18 20:39] #551 closed

[2017-02-21 15:35] rodymol123 commented on #520
This can easily be achieved if https://github.com/NamelessMC/Nameless/pull/563 is merged. Since the views and logic are somewhat seperated it would be possible to create a language folder at ```core/installation/languages``` and load those into the new views.

[2017-02-25 21:18] tomf42 opened #565 "Subdomain?"
Hi, is there any way to make subdomain with NamellesMC? If I try to acces to subdomain, it show me the home page... not the page which I want to soubdomain

[2017-02-25 21:24] samerton commented on #565
Subdomains do work with Nameless, however if it's not working it's down to your server configuration.

Make sure you point your subdomain to your subfolder where Nameless is installed.

[2017-02-25 21:27] tomf42 commented on #565
Oh you donť understand me... I have Nameless in home folder, so it is normal domain (example.com) and if I want to make subdomain (with other site) I can´t...

[2017-02-25 21:35] samerton commented on #565
If you're using version 2, the next pre-release will fix this for subfolders only (subdomains still work differently, make sure you have configured it correctly).

Version 1 will work with both subfolders and subdomains equally.

[2017-02-25 21:37] tomf42 commented on #565
So, How can I make subdomain?

[2017-02-25 21:41] samerton commented on #565
Subdomains aren't related to Nameless itself, and is down to your server.

Which operating system are you using (if you're running a VPS/dedicated server), and I can provide you with a link to a guide?

[2017-02-25 21:56] tomf42 commented on #565
I have a hosting

[2017-02-25 22:12] samerton commented on #565
If you point your subdomain (assuming your host uses something like cPanel) to the subfolder with your non-Nameless files, it should work without any issues.

[2017-02-25 22:28] MrSnowHD commented on #6
integration of this plugin it will be displayed in the namelessmc v2 ?

[2017-02-25 22:45] tomf42 commented on #565
I can´t do that :(

[2017-02-26 11:43] zikycz opened #566 "Generator colour menu"
Hello, I have generated on this page custom menu colors: https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0

But where do I insert the generated code CSS:

`.navbar-default {
  background-color: # e74c3c;
  border-color: # c0392b;
}
.navbar-default .navbar-značka {
  color: # ecf0f1;
}
.navbar-default .navbar značek: vznášet,
.navbar-default .navbar-brand: focus {
  Barva: #ffbbbc;

[2017-02-26 14:21] samerton commented on #566
You can paste your custom CSS into **styles/themes/*Theme*/css/custom.css**, you may need to force a browser refresh (ctrl-F5) to view the changes.

[2017-02-27 13:26] Legomix13 commented on #197
Sorry for reopening this another time but I found the solution,just execute this:

chcon -t httpd_sys_rw_content_t /var/www/html/ -R

Then it will work!!

[2017-02-27 16:28] zikycz commented on #566
Hello, I do not know how to put the code there, I do not understand, you do it to me?
**Here is mine custom.css:**

[code]

**Here is the generated code**

[code]

[2017-03-06 05:05] theofficialsean opened #568 "404, Page Not Found After Installation."
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? Latest Version
* How would you describe the issue? Every time I install NamelessMC on my web root (public_html) I get this: http://prnt.sc/9miliw I have reinstalled it like 5 times, and I can't get anything to work! The step that doesn't work is the Finish step! All I want is to be able to

[2017-03-06 12:33] samerton commented on #568
When you mention Nameless was installed in the public_html folder, is it within a folder eg `public_html/Nameless-1.0.15` or something along those lines?

[2017-03-06 12:35] samerton commented on #566
Sorry for the late reply, your generated code needs to go **after** everything already in the custom.css file (after the .tooltip-inner code)

[2017-03-06 13:17] theofficialsean commented on #568
No, I installed everything into the public_html freely. No sub domains or sub folders present.. it just won't go to the homepage after I install everything "successfully" as it says.

[2017-03-06 14:10] samerton commented on #568
Very strange, is there a file named ".htaccess" present in the `public_html` directory?

[2017-03-06 16:29] theofficialsean commented on #568
Yes, I have AllowOverride All through Terminal on my mac, and re-downloaded the file with the new .htaccess file and loaded it in. Still nothing :( can you install it for me? :(

[2017-03-06 16:33] samerton commented on #568
Sure, feel free to send me a private message over on [Spigot](https://www.spigotmc.org/members/samerton.10676/) or in our [Discord](https://discord.gg/r7Eq4jw)

[2017-03-06 17:30] theofficialsean commented on #568
I sent you a PM via. Spigot.

[2017-03-06 21:28] #568 closed

[2017-03-07 20:05] joshwenke commented on #105
To those of you reading this, sorry for bringing this issue back up, but the if 500 error is only present when using this .htaccess file:
https://raw.githubusercontent.com/NamelessMC/Nameless/master/.htaccess

then your issue is that your files aren't at your server's root directory.

I fixed it by changing the last line to
  RewriteRule ^.*$ http://full-website-address.com/index.php

[2017-03-08 01:45] MoeXIV opened #569 "Install Page Not Found"
**What kind of issue is it (Question, Bug, etc.)?** Bug.
**In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.15.
**How would you describe the issue?** The install page is not found on the webserver although it is in fact there.
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** Yes, I have a screenshot of it. http://prntscr.com/ehbxi3
**Do you have an id

[2017-03-08 02:02] MoeXIV commented on #569
Keep in mine, 1.0 does NOT install; every version I get this problem.
BUT, on version 2.0 (the version not meant to be used publically), everything installs fine. No problems...

[2017-03-08 12:20] samerton commented on #569
You will be experiencing the issues on version 1 due to your server not allowing the use of mod_rewrite and htaccess files. You can find the solution [here](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc).

Version 2 doesn't experience this issue as friendly URLs are disabled by default, so the htaccess file is not used.

[2017-03-08 20:24] lolmanz0 opened #570 "Info"
What is this for? And how can I install it on Windows?

[2017-03-08 21:28] manselis commented on #570
That seems pretty obvious to me:

It’s used as a forum and blogging platform by many. Is that explanation good enough?

[2017-03-08 21:29] lolmanz0 commented on #570
Yes, thanks. But it would be great with some default HTML pages too.

[2017-03-08 21:36] manselis commented on #570
You can use themes and make Nameless your own!

[2017-03-08 21:48] lolmanz0 commented on #570
Okay, thank you a lot!

[2017-03-08 21:48] #570 closed

[2017-03-10 01:47] MoeXIV commented on #569
I tried what was said on that page but still having the same issue.
All the pages are there it's just you have to know the exact link on how to get there, you know what I mean?

It's like every page sends you to the incorrect link. What do you think could be the issue in our setup?

[2017-03-10 10:05] samerton commented on #569
Apologies, as you're using nginx, you'll need to modify your nginx website configuration to match [this](https://raw.githubusercontent.com/NamelessMC/Nameless/master/nginx.example).

[2017-03-12 00:45] samerton commented on #533
Added in 7e0eeddb8adb407b9f87d51289753a8458de122c

[2017-03-12 00:45] #533 closed

[2017-03-12 13:21] samerton commented on #566
I'll mark this as closed, if you're still having difficulties with this please feel free to re-open.

[2017-03-12 13:21] #566 closed

[2017-03-12 13:24] samerton commented on #493
#205

[2017-03-12 13:24] #493 closed

[2017-03-12 13:29] samerton commented on #345
I'll mark this as closed, as technically it's possible for modules to implement this functionality in v2.
The core Nameless system itself won't have this ability, as too many things depend on it, but for modules such as Infractions it can be implemented.

[2017-03-12 13:29] #345 closed

[2017-03-12 13:30] samerton commented on #569
Were you able to resolve the issue @MoeXIV?

[2017-03-12 13:30] samerton commented on #549
Were you able to resolve the issue @AltijdSander?

[2017-03-12 19:32] samerton opened #576 "Set email charset to UTF-8"
Email charset/encoding needs setting to UTF-8

Example character not displaying: é

[2017-03-14 17:06] xXTsunami72Xx opened #578 "Is it possible to edit the text in the google two factor client? [question]"
When you activate the two factor and bind it in the app you can see that it says "NamelessMC (ServerName: username)", is it possible to change it ?, and if so how can it be changed.

[2017-03-14 19:48] MoeXIV commented on #569
Thank you very much, issue has been resolved!

[2017-03-14 19:48] #569 closed

[2017-03-15 08:56] KKosyfarinis opened #579 "[Bug] Download does not include the "install" folder."
There is not an install folder inside of the .zip and .tar.gz downloads. (Version 1.0.15)
http://prntscr.com/ek5xi7 (as seen using ftp)
http://prntscr.com/ek5xoj (.tar.gz)
http://prntscr.com/ek5xst (.zip)
http://prntscr.com/ek5yhp (before clicking on install)
http://prntscr.com/ek5ynp (after clicking on install)

[2017-03-15 11:10] KKosyfarinis commented on #579
Doing a bit of research turns out I had to enable .htaccess and mod_rewrite.

[2017-03-15 12:20] samerton commented on #579
Yep, exactly. Instead of there being an install folder included in Nameless, the page is loaded in the same way as the rest of the site, which is through routing which requires mod_rewrite and htaccess files.

Glad you were able to resolve the issue!

[2017-03-15 12:20] #579 closed

[2017-03-16 14:00] Penguinexpert1 opened #580 "2FA Can be circumnavigated"
Version: 1.0.15

When wanting to get into the Admin Panel, an admin can do the following to avoid using 2FA.

1.
2. Sign in as any other user
3. Go to /admin and use your normal login details
4. The admin panel will load as your primary account
5. By clicking on the arrow next to your name and clicking 'Profile', you can now access the rest of the site using your account, without having to use 2FA

[2017-03-16 19:02] samerton commented on #580
Thanks, fixed in b285af51e32d37718ff9e21835b1d15a2d94e0e1

[2017-03-16 19:02] #580 closed

[2017-03-19 02:32] YouTiao233 opened #581 "Chinese Support"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Question
* In which version of NamelessMC did it occur (1.x.x)?laster
* How would you describe the issue? i type the chinese and it change it to "??" how to fix
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
![image](https://cloud.githubusercontent.com/assets/21272351/24077615/4d3fbfc6-0c8e-11e7-8f9c-9e564

[2017-03-19 03:02] herm1ne commented on #581
What characters were you trying to type?
I use Japanese characters a lot (which is the same character as Chinese one) but it never happens...

[2017-03-19 03:06] YouTiao233 commented on #581
@herm1ne just nomal Characters,i type any characters it will auto change "?"

[2017-03-19 03:18] herm1ne commented on #578
I'm not sure if we may edit this...
go `pages\user\fta.php`
find the line which contains `$tfa = new TwoFactorAuth('NamelessMC');`
Change as you like and done!

[2017-03-19 03:24] herm1ne commented on #581
I think you misconfigured php... in order to process multi-byte characters correctly, you need to deal any input as UTF-8
![https://i.imgur.com/1MhvKU4.png](https://i.imgur.com/1MhvKU4.png)

[2017-03-19 03:26] YouTiao233 commented on #581
@herm1ne what system are you using?

[2017-03-19 03:28] herm1ne commented on #581
Linux(Ubuntu) + Apache + MySQL + PHP(7.0.15) + latest (not 2.0) NamelessMC
Unfortunately I forgot how to configure PHP for UTF-8 input...

[2017-03-19 03:30] YouTiao233 commented on #581
@herm1ne ok thank yu

[2017-03-19 03:30] YouTiao233 commented on #581
@herm1ne i try to seach form google

[2017-03-19 03:31] herm1ne commented on #581
yeah good luck

[2017-03-19 03:38] xXTsunami72Xx commented on #578
Thanks!!!

`<img src="<?php echo $tfa->getQRCodeImageAsDataUri($sitename . ':' . htmlspecialchars($user->data()->mcname), $secret); ?>">`

[2017-03-19 03:38] #578 closed

[2017-03-19 03:39] xXTsunami72Xx commented on #578
Thanks you!!!

`<img src="<?php echo $tfa->getQRCodeImageAsDataUri($sitename . ':' . htmlspecialchars($user->data()->mcname), $secret); ?>">`

[2017-03-19 03:45] YouTiao233 commented on #581
@herm1ne i use like &#20320;&#22909; the cheinese is working
![image](https://cloud.githubusercontent.com/assets/21272351/24077963/5fd670ac-0c99-11e7-8174-c28fb2a28592.png)

[2017-03-19 12:49] Sataniel98 opened #582 "Replace / add smileys"
Hi, I've got a question concerning NamelessMC 1.0.15. Where are the smiley images saved or where are they accessed in the code? Can I replace them or maybe even add new ones? I'd appreciate it if someone could point me in the right direction.

Thank you and please keep up the great work :)

[2017-03-20 15:59] YouTiao233 commented on #581
@samerton

[2017-03-20 16:16] samerton commented on #581
At the moment it seems to depend on the web server the site is running on; it works on some but not others.

I've been working to modifying Nameless so it will work on all servers, regardless of the configuration. It'll hopefully be ready in the full version 2 release.

[2017-03-20 16:25] YouTiao233 commented on #581
@samerton  When will it update the 2.0 version?

[2017-03-20 16:37] samerton commented on #581
There's no estimated release date yet I'm afraid.

[2017-03-22 12:27] samerton commented on #582
The smileys are located in the core/assets/js/plugins/smiley/images folder, and can simply be replaced.

Unfortunately it's not too straightforward to add new smileys. [This post](http://ckeditor.com/comment/43046#comment-43046) explains the required steps, and the `config.js` the post refers to is the `/core/assets/js/config.js` file. If, after adding the code to add new smileys, the smileys don'

[2017-03-22 16:08] samerton commented on #520
Added in b65f6d63c66e0d949de4ff0aeb7b478e81876d84

[2017-03-22 16:08] #520 closed

[2017-03-22 18:50] Sataniel98 commented on #582
Thank you very much! It worked perfectly fine.

[2017-03-22 18:50] #582 closed

[2017-03-26 15:31] omginput opened #586 "Profile description - possible?"
I'd like to know whether it is possible that each registered player can have a profile description.
I mean something that can be quite long with pictures etc..
Is this possible yet? How can it be done?

Thank you

[2017-03-26 20:08] samerton commented on #586
Creating custom profile fields is possible in version 2 (currently still in pre-release stages) :)

[2017-03-30 18:00] donleo123 opened #591 "Next step does not exist"
### Template:
**What kind of issue is it (Question, Bug, etc.)?** Bug
**In which version of NamelessMC did it occur (1.x.x)?** 1.0.15
**How would you describe the issue?** step=requirements does not exist
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** http://prntscr.com/eqfn9p
**Do you have an idea how or where the issue occurs?** No

[2017-03-30 18:15] samerton commented on #591
[This](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc) should help with your issue.

[2017-03-30 18:32] donleo123 commented on #591
Dont understand that

[2017-03-30 18:37] samerton commented on #591
Are you running your website on a shared web host, or on your own VPS/dedicated machine?

[2017-03-30 18:39] donleo123 commented on #591
Shared

[2017-03-30 18:40] samerton commented on #591
Can you see if a file named `.htaccess` exists in your main website folder (usually public_html), and if not can you create one and paste [this code](https://raw.githubusercontent.com/NamelessMC/Nameless/master/.htaccess) inside?

[2017-03-30 18:41] donleo123 commented on #591
No, and if i create one it doesnt show up

[2017-03-30 18:42] samerton commented on #591
As this is something that differs between hosts, try contacting your web host to see if they can help you with creating the htaccess file.

[2017-03-31 05:50] ipixelfan commented on #591
I'm having the same issue. I'm using IIS. When I look through the web root, there is not an install folder.

[2017-03-31 12:01] samerton commented on #591
@ipixelfan [This post](https://www.spigotmc.org/threads/nameless-minecraft-website-software.34810/page-66#post-1013093) might help with IIS.

[2017-04-01 16:29] GershonR opened #592 "Suggestion: MyBB Convertor"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Suggestion
* In which version of NamelessMC did it occur (1.x.x)? 1.0.15
* How would you describe the issue?

Currently using a MyBB forum, I have deleted the forum folder for Nameless for now so I can use my own forum, I would like to re-integrate that forum with NamelessMC

[2017-04-02 12:43] samerton commented on #586
I'll mark this as closed (v2 branch found [here](https://github.com/NamelessMC/Nameless/tree/v2))

[2017-04-02 12:43] #586 closed

[2017-04-05 22:51] samerton commented on #591
I'm going to mark this issue as closed as it's down to the server configuration. If you're still having issues, feel free to re-open.

[2017-04-05 22:51] #591 closed

[2017-04-07 05:38] BirkhoffLee commented on #208
I'll take this over! :)

[2017-04-07 06:27] rodymol123 commented on #208
@samerton I think one general Cache directory should be allowed. I think Nameless currently has lots of different places where we put caches and other files, maybe centralizing those helps?

[2017-04-07 07:05] BirkhoffLee commented on #208
It's live! Using php 7.0 and `docker-compose` which is the officially-recommended way to quick deploy containers: https://github.com/BirkhoffLee/NamelessMC-docker

[2017-04-07 07:05] BirkhoffLee commented on #208
It's okay if you wanna merge it into your repository. :p

[2017-04-07 07:07] BirkhoffLee commented on #208
@samerton You can still store them in files, but please tell me where the files are. Cache files are of course allowed, you can see a Docker container as a VM simply (it's not, actually), it just work like normal servers.

[2017-04-07 09:59] samerton commented on #208
@BirkhoffLee
Fantastic, thanks so much!

All cache files are stored in the **cache** directory and the **cache/templates_c** directory.

[2017-04-07 10:03] BirkhoffLee commented on #208
@samerton Alright I'll check it out. I'll follow up on this thread when done.

[2017-04-07 10:05] BirkhoffLee commented on #208
@samerton Sorry, I mean the path of "external configuration files" you mentioned about. Is it necessary for cache directories to be accessible to users?

[2017-04-07 11:33] thomas15v commented on #208
@BirkhoffLee I don't think that matters really. I would just define that folder as a volume so that if compose recreates the container you don't lose the cache. I don't know how critical the cache is for Nameless, but I could think of some applications that simply don't work anymore if they lost their cache/filestore.

[2017-04-07 11:40] BirkhoffLee commented on #208
@thomas15v Yeah I think so too.

BTW I can confirm that https://github.com/BirkhoffLee/NamelessMC-docker is running without any errors.

[2017-04-07 13:55] samerton commented on #208
The configuration files are core/config.php, core/email.php, and also some config files in the addons directory.
These files are changed by Nameless itself, such as when the user inputs their database details within the installer, or whilst changing email configuration settings through the AdminCP.

[2017-04-07 14:50] BirkhoffLee commented on #208
Oh this is terrible, they are not centralized. Instead of mounting them individually, I'd rather mount the whole /var/www/html. What do you think?

[2017-04-07 14:51] Headhunterzpw commented on #208
@BirkhoffLee No. Some people do host other things on that directory...

[2017-04-07 14:54] BirkhoffLee commented on #208
@Headhunterzpw Why would someone host other thing on the /var/www/html directory when it's in Docker container which is only for running a certain application?

[2017-04-07 15:42] BirkhoffLee opened #596 "Add a feature that sends testing mails"
* What kind of issue is it (Question, Bug, etc.)?
future-request

* In which version of NamelessMC did it occur (1.x.x)?
1.0.15

* How would you describe the issue?
Can you add a feature that sends testing mails? The configuration process of email sending will be much better after implementing this.

[2017-04-07 15:47] BirkhoffLee opened #597 "Improvement on the email configure page"
* What kind of issue is it (Question, Bug, etc.)?
Improvement, or future-request

* In which version of NamelessMC did it occur (1.x.x)?
1.0.15

* How would you describe the issue?
On the email sender configuration page (`/admin/core/?view=email`), the password field will be intended left blank -- the password is still in the configuration file, it just don't show up. This is absolutely good, but

[2017-04-07 15:57] samerton commented on #597
Thanks for spotting this

[2017-04-07 15:58] #597 closed

[2017-04-07 17:06] samerton commented on #549
I'll mark this as closed as I can't reproduce any issues.

[2017-04-07 17:06] #549 closed

[2017-04-07 17:06] samerton commented on #565
I'll mark this as closed as it's host related, if you still have any further questions please feel free to re-open.

[2017-04-07 17:06] #565 closed

[2017-04-07 17:07] samerton commented on #489
I believe this is a host issue, I'll mark this as closed.

[2017-04-07 17:07] #489 closed

[2017-04-07 18:15] #576 closed

[2017-04-07 19:44] #255 closed

[2017-04-07 19:45] #499 closed

[2017-04-07 21:13] ipixelfan opened #598 "All Nameless 1.0.15 Pages taking 1-3 mins to load"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-04-07 21:20] ipixelfan commented on #598
Oops sorry forgot to remove the Example.

[2017-04-07 21:56] samerton commented on #598
This may be a host/connection issue, as Nameless itself is fairly lightweight.

[2017-04-08 01:39] woodzykiler opened #599 "unable to install"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
bug?
* In which version of NamelessMC did it occur (1.x.x)?
1.0.15
* How would you describe the issue?
was doing a first time install
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
This is what i seen after i clicked the the Fresh install button
Not Found
The requested URL /install was not found on this se

[2017-04-08 04:59] ipixelfan commented on #598
I have tried it from different connections like my home connection. The web server is IIS and is running through a virtual machine. I have tried to access nameless through the virtual machine and it is still slow. I'm sorry but I just realised that my post didn't post what I had typed in, it posed the default template. But I have tried other indexs and they work fine

[2017-04-08 05:06] ipixelfan commented on #599
What web server are you using. If you are using Apache make sure the included .htaccess file is in the root directory. If your using IIS then you'll need to import .htaccess using the URL Rewrite option in the IIS Control Panel. If you don't have this option just Google how to get it

[2017-04-08 10:11] samerton commented on #599
The solution to the 404 not found error is [here](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc).

[2017-04-08 10:14] samerton commented on #598
Unfortunately I'm not sure what the cause would be, sometimes the Minecraft server query (which is on the homepage, forum page and play page) can be slow if the Minecraft server defined is down/unreachable (check your firewall in this case).

Another possible cause is if the MySQL database is on a different machine to the website.

[2017-04-08 11:29] woodzykiler commented on #599
well i dont have the "AllowOverride FileInfo (as in the guide) to AllowOverride All" in my ubuntu 16.04 and apache2.. and the guide says to ".htaccess" exists in your web server's root directory" theres like 3 spots i found that have apache2 witch one lol

[2017-04-08 12:33] #599 closed

[2017-04-08 19:12] BirkhoffLee opened #600 "Is it possible to modify the limit of maximums & minimums?"
As the title said.

[2017-04-08 19:36] Headhunterzpw commented on #600
You can't without editing the source code for so far as I know..

[2017-04-09 23:48] MinecraftMiniver opened #601 "Infractions Page - From Scratch - Help Needed"
### Infractions Setup
* I'm trying to find a way to create an Infractions page on my Nameless website. I don't know how to create the page, where to put it, how to connect my server with the website (bungeecord), or anything like that.
* This problem is in version 2 pre-release.
* If anyone can help me, that would be greatly appreciated.

[2017-04-10 14:33] samerton commented on #601
Unfortunately, at the moment there is no integration at all with Minecraft in the first version 2 pre-release, including any form of an infractions module. In order to code one yourself, you'll need to be comfortable with PHP and also the v2 module system (for which, until the full release of version 2, there is currently no documentation).

There is one currently in development (repository [here]

[2017-04-10 22:52] MinecraftMiniver commented on #601
Okay.

On Mon, Apr 10, 2017 at 8:33 AM, Sam <notifications@github.com> wrote:

--
-Randall Barker

[2017-04-12 10:50] #601 closed

[2017-04-15 18:37] BirkhoffLee opened #603 "Not posting topics"
* What kind of issue is it (Question, Bug, etc.)?
Bug

* In which version of NamelessMC did it occur (1.x.x)?
1.0.15

* How would you describe the issue?
Open the post page, write something, post, and it redirects to the forum. The topic's not posted.

[2017-04-16 15:00] samerton commented on #6
Added in d0389275b9a0a9e91d2ce4b1ecbe7e5ce6ef5e25

[2017-04-16 15:00] #6 closed

[2017-04-17 16:00] samerton commented on #598
Were you able to track down the cause of the issue @ipixelfan?

[2017-04-17 16:01] samerton commented on #603
It could be caused by an invalid form token, in which case you simply need to try again.
I will improve this so it displays an error instead of redirecting to the forum index.

[2017-04-17 16:07] samerton commented on #603
Just changed how an invalid form token is handled on topic submission in f5f3cd431e97bfcdde7ac718c9f432e5b507a0e3

[2017-04-17 21:23] TheSander562 opened #608 "Navbar takes container class"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? Navbar takes the container class
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? No
* Do you have an idea how or where the issue occurs? in the admin pages: core, announcements, forums, pages, users.

I kno

[2017-04-17 21:47] IsS127 commented on #608
and what does this change?

[2017-04-17 21:49] TheSander562 commented on #608
It wont change the navbar, but only the page

[2017-04-18 00:51] #608 closed

[2017-04-21 04:28] Gonfonix opened #611 "Donation Page 404 Error Issue"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)?  1.0.16, though I have had this issue for quite some time now.
* How would you describe the issue? When I click on the donation tab on the website, then choose a package, and type in username then click agree, it takes me to a 404 error. BTW I use Buycraft.
* Do you have (rele

[2017-04-21 10:58] samerton commented on #611
Hi,

You'll need to make sure you have set your store URL in the Donate addon's settings, and that it has been preceded with http:// or https://

[2017-04-21 20:26] Gonfonix commented on #611
Oh ok thank you for the response :D

[2017-04-22 02:17] nathan93 opened #612 "Suggestion: SMF Converter"
* What kind of issue is it (Question, Bug, etc.)? Suggestion
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16

As of now, on the Convert set up page in the Installation process, the only conversion offered is from Xenforo to Nameless, I currently use Simple Machines Forums and would highly consider moving to Nameless if a conversion was provided for SMF to Nameless.

[2017-04-23 16:07] nathan93 opened #613 "Play Page/Adding Servers"
**What kind of issue is it?** Issue/Bug
**In which version of NamelessMC did it occur?** 1.0.16
**How would you describe the issue?** When I add servers in the AdminCP, they don't show up as online on the Play page.
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** http://imgur.com/a/Hdrgf
**Do you have an idea how or where the issue occurs?** Not sure.

[2017-04-23 16:43] samerton commented on #613
Can you check the "Query Errors" tab in the AdminCP -> Minecraft tab to see if any errors appear?

[2017-04-23 16:47] nathan93 commented on #613
Here is a screenshot from the errors log: http://imgur.com/a/PSvJN

[2017-04-23 17:35] samerton commented on #613
It's a possibility that your web host does not allow the use of PHP sockets, or there is a firewall blocking traffic through port 25565.
Can you try selecting the "External Query" option in the AdminCP -> Minecraft tab to see if that resolves the issue? Unfortunately a limitation of the external query is that it cannot obtain a list of online players.

[2017-04-23 17:45] nathan93 commented on #613
That solved it. Is there a chance that the External Query option will be able to show online players+avatars in the future?

[2017-04-23 18:25] samerton commented on #613
Yep, the upcoming Nameless version 2 will display online players with both the internal and external query.

[2017-04-24 15:51] GoldCodes opened #615 "Uncaught PDOException"
Newest version: Question
The installer is now attempting to create the necessary tables in the database.

Fatal error: Uncaught PDOException: SQLSTATE[42000]: Syntax error or access violation: 1286 Unknown storage engine 'InnoDB' in /home/u390541283/public_html/Nameless-1.0.16/core/classes/DB.php:68 Stack trace: #0 /home/u390541283/public_html/Nameless-1.0.16/core/classes/DB.php(68): PDOStatement-

[2017-04-25 14:31] TheSquidHQ opened #617 "Blank After Installation"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

* What kind of issue is it (Question, Bug, etc.)? B

[2017-04-25 15:16] samerton commented on #615
Your web host does not support the InnoDB engine. This is usually on free hosts as an incentive for you to upgrade to their paid plan.

[2017-04-25 15:19] samerton commented on #617
Can you edit **pages/install.php** in a text editor, and replace all code inside there with [this code](https://gist.githubusercontent.com/samerton/839f62ebde45c878006f65ad12b0f511/raw/5d6fe962056fe9a9f83cc152d16bf62f1818e248/install.php), before trying again? You should then have the error message displaying on the page.

[2017-04-25 15:52] TheSquidHQ commented on #617
Nothing happened, not even an error.

[2017-04-25 15:52] samerton commented on #617
In that case, can you check your server's Apache error logs to see if there is anything in there?

[2017-04-25 15:53] TheSquidHQ commented on #617
When I try other browsers I get: http://prntscr.com/f0oxxb

[2017-04-25 15:54] TheSquidHQ commented on #617
I got this error if it means anything
[Tue Apr 25 11:31:34 2017] [error] [client 68.186.141.238] client denied by server configuration: /home/projldlk/public_html/pages/install.php

[2017-04-25 15:55] samerton commented on #617
Which server host are you running?

[2017-04-25 15:55] TheSquidHQ commented on #617
namecheap

[2017-04-25 15:57] samerton commented on #617
As far as I know, Nameless is compatible with Namecheap straight away.
Can you check your database using phpMyAdmin to see if anything is in there?

[2017-04-25 16:00] TheSquidHQ commented on #617
What am I checking for?

[2017-04-25 16:01] samerton commented on #617
Just check to see if there are any tables in there, Nameless tables start with the nl1_ prefix.

[2017-04-25 16:02] TheSquidHQ commented on #617
There are no tables: http://prntscr.com/f0p21p
The database is the one with _nameless

[2017-04-25 16:04] samerton commented on #617
In that case, can you edit **core/config.php** in a text editor, delete everything in there, and try again?

[2017-04-25 16:06] TheSquidHQ commented on #617
I just did
Nothing again

[2017-04-25 16:06] TheSquidHQ commented on #617
No tables

[2017-04-25 16:09] samerton commented on #617
Unfortunately at this point I can only recommend trying a different host, there are free options available specifically available for Nameless including [NamelessHosting](https://namelesshosting.com/) and [Kryptic Hosting](https://billing.kryptichosting.com/)

[2017-04-25 16:11] TheSquidHQ commented on #617
Wait!

[2017-04-25 16:11] TheSquidHQ commented on #617
Something happened!

[2017-04-25 16:11] TheSquidHQ commented on #617
Never mind XD

[2017-04-25 16:12] TheSquidHQ commented on #617
Ok

[2017-04-25 16:12] TheSquidHQ commented on #617
Um

[2017-04-25 16:12] TheSquidHQ commented on #617
For some reason ( I dont know what I did) but now its working ;-;

[2017-04-25 16:15] samerton commented on #617
Glad it's working :)

[2017-04-25 16:15] TheSquidHQ commented on #617
Thanks :D

[2017-04-25 16:15] #617 closed

[2017-04-25 21:57] #615 closed

[2017-04-26 13:48] BirkhoffLee commented on #600
@samerton Any plans?

[2017-04-26 20:28] Aviorleking opened #619 "Custom fields"
* What kind of issue is it (Question, Bug, etc.)?

Enhancement
* In which version of NamelessMC did it occur (1.x.x)?

for the V2
* How would you describe the issue?

i have an idea while the admin change a required custom field it send a notification to all the members to ask them to complete it.

[2017-04-27 19:45] samerton commented on #600
For which values exactly would you like the minimums/maximums to be changed?

[2017-04-27 20:17] Aviorleking opened #623 "List of pre V2 Bugs"
**First good luck ^^**

_I will also update it as the update comes_

1. AuthMe integration showing 500 error

How to reproduce it :

Go to authme integration

open the console and  check  preserve

check to add the authme integration and you have the error

2. Minecraft admin showing errors

_Waiting for integration_

3. While trying to add a server it don't show any Add button

![image](https://c

[2017-04-28 17:15] BirkhoffLee commented on #600
Like titles?

[2017-04-28 17:24] Headhunterzpw opened #628 "Litebans not showing"
#### Example:
**What kind of issue is it (Question, Bug, etc.)?** Bug.
**In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.16.
**How would you describe the issue?** For litebans infractions it will tell you that the table doesn't exist (Found with error debugging)
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** It requires to set the prefix but sadly

[2017-04-29 16:11] Headhunterzpw commented on #628
Bump

[2017-04-29 16:29] samerton commented on #623
Thanks for the list, here's my initial response:

1) I can't reproduce the issue on my test sites
2) These errors will persist until the account verification, query errors and server banner pages are complete
3) Server integration is not yet complete, hence the submit button not showing
4) Interesting, must have been caused by a recent Bootstrap update. I'll try to fix it shortly.
5) The contact p

[2017-04-29 16:53] samerton commented on #623
4) has been temp-fixed by 95c41176efde0d36a085a5efb97ef441ecfc18eb, should be fully fixed in the next Bootstrap v4 alpha release.

[2017-04-29 16:55] samerton commented on #628
You should be able to set the table prefix to `litebans_` in the Infractions addon settings.

[2017-04-29 17:31] Headhunterzpw commented on #628
I did but it's not about to being saved

[2017-04-29 17:57] samerton commented on #628
Can you make sure your addons/Infractions/config.php file is writable?

[2017-04-29 17:59] Headhunterzpw commented on #628
It's writable. It was able to save the host, username, database and password but it didn't save the prefix.

[2017-04-29 18:27] jweenk opened #631 "Error 500.."
Hi, i have a problem.. I added a custom module and after adding it my site was offline. I deleted the module but now my site isnt working anymore.

Check; www.colorcraft.nl

It says error 500, i checked the error log of my hosting and it says:

[Sat Apr 29 00:10:08.772815 2017] [ssl:warn] [pid 5490] AH01909: www.colorcraft.nl:443:0 server certificate does NOT include an ID which matches the server

[2017-04-30 08:28] Aviorleking commented on #623
Thanks for answer I will edit with the corrections

[2017-04-30 16:11] samerton commented on #631
You will need to disable the module in the nl1_modules table in your MySQL database (using something like phpMyAdmin to do so).

[2017-05-02 09:12] jweenk commented on #631
There is no modules table in my phpmyadmin

[2017-05-02 20:55] zikycz opened #632 "LiveChat"
Hi, how do I add to the site some sort of Live Chat, is there a plugin ?

[2017-05-02 20:58] samerton commented on #632
There is no way within Nameless to add a live chat, you would have to implement that functionality yourself.

[2017-05-03 12:08] zikycz opened #634 "widget"
Hi, is this widget, or Tweets redo that I put in there ads ? Or some text of your own
https://ctrlv.cz/lnDV

[2017-05-03 13:17] samerton commented on #634
Unfortunately I don't think I understand, if you are referring to the Twitter module you can add your Twitter URL in the AdminCP -> Core -> Modules -> Social Media tab which will result in a homepage widget appearing.

[2017-05-05 19:13] zikycz opened #635 "Photo in theme"
Hi, I made the template the background, which I wanted to change to another image so we changed it, but still I have the same thing.

Photo theme: https://ctrlv.cz/TtkX
Changed the background: https://abload.de/img/wallup-102616y2shj.png

custom.css

[2017-05-05 19:16] Headhunterzpw commented on #635
Go to the folder pages and edit the file index.php

You might see a snippet like this:
`	<style>
	html {
		overflow-y: scroll;
	}
	.jumbotron {
		margin-bottom: 0px;
		background-image: url(core/assets/img/background-1920x828.jpg);
		background-position: 0% 25%;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	</style>`

To edit the background-image url you need to use

[2017-05-05 20:42] Andoz opened #636 "Diacritic"
http://imgur.com/E0cHrrq

[2017-05-06 19:13] Beags opened #637 "Permission to include this in ServerSetup"
Hello,

I am the developer of the Server Setup script, and I am looking to add support for installing this to a dedicated box with in my script.

Here is the spigot resource page:

[https://www.spigotmc.org/resources/automated-server-setup.36917/](url)

Source code can be viewed on my github.

Thanks,

Buzzy

[2017-05-07 08:41] zikycz commented on #635
But I think the background of the whole, not the image, which is smaller, I mean by the big.

[2017-05-07 13:06] samerton commented on #635
If your background image isn't changing, your browser could be caching the old image. In that case you can try Ctrl-F5 in your browser to force a cache refresh.

[2017-05-07 13:11] samerton commented on #637
Hi,

Absolutely, you have full permission to include this (for further information the license can be found [here](https://github.com/NamelessMC/Nameless/blob/master/LICENSE.md)) :)

[2017-05-08 13:20] samerton commented on #631
Were you able to resolve the issue @jweenk?

[2017-05-08 13:21] #632 closed

[2017-05-08 13:21] #611 closed

[2017-05-08 13:21] #598 closed

[2017-05-08 13:22] #613 closed

[2017-05-08 13:22] #634 closed

[2017-05-08 13:23] samerton commented on #635
Were you able to resolve the issue @zikycz?

[2017-05-08 13:23] samerton commented on #636
I'm not sure I understand the issue, if you are referring to the ? in the text it will hopefully be improved in the upcoming version 2.

[2017-05-08 15:52] Andoz commented on #636
Instead of some characters (ě,š..) that have showing question marks.

Sorry for my bad English :/

[2017-05-08 20:52] Aviorleking opened #638 "How to destroy NamelessMC"
Bug on latest V2 Git

simply upload the V1.0.16 member plugin
create a little module.php
go to modulesl list and enable it
your site will now don't work xD

[2017-05-08 21:14] Aviorleking commented on #638
to correct it go to your FTP copy the Example module
rename it to the corrupted module "Member in my case"
then replace the corrupted by the new one and go disable it on the website

[2017-05-10 16:41] BirkhoffLee commented on #208
Ummm, @samerton you're not closing this issue?

[2017-05-10 21:14] samerton commented on #208
@BirkhoffLee I'll close it now, thanks :)

[2017-05-10 21:14] #208 closed

[2017-05-10 21:14] samerton commented on #638
Glad you were able to resolve the issue

[2017-05-10 21:14] #638 closed

[2017-05-10 23:35] VainSinful opened #641 "Navigation Bar"
Question: Navigation Bar
NamelessMC version 1.0.15
Running PHP 5.6.30
I am wondering how I can rearrange the tabs listed in the navigation bar on all of the pages. Along with removing currently listed tabs in the navigation bar and adding in new ones
[Nav Bar](http://i.imgur.com/PbQcc4z.jpg)

[2017-05-11 10:11] BirkhoffLee opened #642 "Docker Hub organization"
Hey there. Since we've got a working Docker image I think we can create a Docker Hub organization that serves the image, so people can deploy Nameless like
[code]

So the repo won't be my name `birkhofflee/namelessmc_docker` and people can use it without fear.

Just here to ask, if I can use that name to create the organization?

# ref
https://github.com/BirkhoffLee/namelessmc-docker
https://hub.d

[2017-05-11 20:10] samerton commented on #641
Whilst it's not possible to rearrange the position of your navbar tabs, you can change the location of addon links (for example Donate, Members etc can be moved to the footer or can be removed altogether) if you update to version 1.0.16.

If you're comfortable with PHP, all navbar links are generated through the [core/includes/template/navbar.php file](https://github.com/NamelessMC/Nameless/blob/m

[2017-05-11 20:12] samerton commented on #642
Absolutely, please feel free to use the name and we can promote it as the official Docker image :)

[2017-05-11 22:32] BirkhoffLee commented on #642
By the way maybe you wanna transfer my current GitHub repository to your organization?

[2017-05-11 22:44] samerton commented on #642
@BirkhoffLee
Just created a new repo [here](https://github.com/NamelessMC/Nameless-Docker), I've also sent you an invitation as a collaborator :)

[2017-05-11 22:52] BirkhoffLee commented on #642
Accepted. Thanks! I'll push stuff later today.

[2017-05-12 09:32] BirkhoffLee commented on #642
@samerton I don't know but I think you need to add me to your GitHub organization in order to set up an automated build repository on Docker Hub.

[2017-05-13 02:01] Beags commented on #637
I have added this into the script, thanks for the help.

[2017-05-13 02:01] #637 closed

[2017-05-16 18:35] Headhunterzpw opened #648 "Installer fails?"
#### Example:
**What kind of issue is it (Question, Bug, etc.)?** Bug.
**In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.16.
**How would you describe the issue?** The layout of the installer is messed up
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** Yes, I have the a screenshot of it. [Click here](https://www.i.jessegeerts.nl/2017-05-16_20-33-21.p

[2017-05-16 19:47] TheSander562 commented on #648
Weird, i dont get it.
![schermafdruk 2017-05-16 21 46 30](https://cloud.githubusercontent.com/assets/14059770/26125082/2f4c8e24-3a81-11e7-9075-903108cdb4ad.png)

[2017-05-16 23:45] samerton commented on #648
You seem to have Bootstrap v4 CSS cached, which may have happened if you tried out the v2 pre-release.

Try Ctrl+F5 in your browser to force a cache refresh.

[2017-05-16 23:56] JosGCS commented on #648
@samerton i have a problem with the installation, i have installed cURL extension for PHP 7.0 but the NamelessMC installer dont works, please check my attatchment for more details.
![captura2](https://cloud.githubusercontent.com/assets/22751399/26132962/f46d3bca-3a60-11e7-8f05-1588300867ce.PNG)

[2017-05-17 00:04] samerton commented on #648
@JosGCS
The cURL package specifically needs to be the `php-curl` package, once that is installed you will need to restart Apache.

[2017-05-17 00:12] JosGCS commented on #648
@samerton Thanks to much 👍

The error was caused because i have installed **php7.0-curl**, **php-curl** and **curl** at the same time, now i have only **php-curl** installed on the server.

[2017-05-19 12:08] samerton commented on #648
@Headhunterzpw were you able to resolve the issue?

[2017-05-19 12:11] samerton commented on #635
I'll go ahead and close the issue, if you are still experiencing the issue feel free to re-open.

[2017-05-19 12:11] #635 closed

[2017-05-19 12:13] samerton commented on #631
I'll mark this as closed, if you are still experiencing the issue feel free to re-open.

[2017-05-19 12:13] #631 closed

[2017-05-19 13:13] Headhunterzpw commented on #648
@samerton Yes, thank you +1

[2017-05-19 13:14] samerton commented on #648
No problem, glad to hear

[2017-05-19 13:14] #648 closed

[2017-05-21 15:06] PugaBear opened #651 "Remember me not working"
Version 1.0.13 with a heavily modified codebase
http://beta-new.bn-mc.net

I have massively modified the code in nameless and have neglected to update for a long time. If you could just point me to where I should be looking, I may be able to figure it out for myself. I understand it is hard to support people who do not update and modify the code

[2017-05-21 16:11] samerton commented on #651
The remember me issue was fixed in version 1.0.1 back in January 2016 (commit 39d40bf3920754c600011b1f909808e5f0051702), and users will be remembered for 7 days (configurable in core/config.php).

If the functionality isn't working, it's worth checking cookies are being set client-side.

[2017-05-21 23:18] PugaBear commented on #651
I have no idea how cookies work but this is all I'm seeing ![image](http://i.imgur.com/k5aKFQZ.png)

[2017-05-22 09:31] Aviorleking opened #652 "Force https"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
Question
* In which version of NamelessMC did it occur (1.x.x)?
null
* How would you describe the issue?
Add a force https option
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
null
* Do you have an idea how or where the issue occurs?
null

It could be interesting to ass a force https option for security

[2017-05-22 09:48] samerton commented on #651
Something doesn't seem right, as there should be at least one more named "nl" (or whatever the value is set to in the Nameless config).

What if you var_dump the $_COOKIE array?

[2017-05-22 12:16] Headhunterzpw commented on #652
You could use a htaccess rewrite for doing that

`RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L] ` by pasting that in your htaccess (on the last lines)

[2017-05-24 23:25] samerton commented on #189
Fixed in 82f52858956f8ec9837189eb843046e71e55b64d (although sessions will still expire after 24 minutes)

[2017-05-24 23:25] #189 closed

[2017-05-25 21:02] magnus505 opened #654 "discord server only loading"
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? I'm trying to add my discord server to my website but it only load any idea why?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? http://imgur.com/riELnID
* Do you have an idea how or where the issue occurs? No

[2017-05-25 21:57] samerton commented on #654
Quoted from support channel in Discord:
In Discord itself, in the top left of your screen (whilst viewing your server) is a dropdown where you can edit roles, server information etc
Click the Widget tab in there, and then check the box saying "Enable server widget"

[2017-05-25 21:57] #654 closed

[2017-05-26 16:13] Derkades commented on #652
For nginx something like this:
[code]

[2017-05-26 16:16] Derkades commented on #94
And here we are over a year later.. Are you planning to do it in 2.0 like you said you were going to?

[2017-05-26 16:33] samerton commented on #94
Absolutely, everything in the 2.0.0 milestone will be completed before the full release :)

[2017-05-26 22:04] ItzSomebody commented on #652
Headhunter's method not working for me xD

[2017-05-27 10:00] samerton commented on #652
A full SSL-enabled htaccess can be found [here](https://gist.githubusercontent.com/samerton/83145e0b9367bdf3211f0e1f16c0185f/raw/ebbd85b1adecee8fe0f34f110779729b7eabd1ca/.htaccess).

[2017-05-27 20:15] samerton commented on #603
Hopefully fixed/massively improved in v2 (https://github.com/NamelessMC/Nameless/commit/82f52858956f8ec9837189eb843046e71e55b64d)

[2017-05-27 20:15] #603 closed

[2017-05-29 12:17] Leon338 opened #655 "Thread Amount not Update"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
Bug

* In which version of NamelessMC did it occur (1.x.x)?
Version 1.0.16

* How would you describe the issue?
The Amount of Threads get not updated on Thread Delete.

### Please use image uploading websites such as Imgur or Gyazo
<a href="https://www.pic-upload.de/view-33247840/Bildschirmfotovom2017-05-2914-15-26.png.html" target="_

[2017-05-29 22:03] samerton commented on #99
Ability to upload your own images added in 9ed435b791336235dd1f35a9130b0c95ed3ed4e6

[2017-05-29 22:03] #99 closed

[2017-06-04 12:55] samerton commented on #652
Added in ad05f7c53af4347933effce3bd71667f3c0725cc

[2017-06-04 12:55] #652 closed

[2017-06-10 21:07] BrainRTP opened #661 "Infractions"
Hello! How it fix?
Notice: Undefined index: name in /home/servers/web/xxx/public_html/core/integration/uuid.php on line 83
Notice: Undefined index: id in /home/servers/web/xxx/public_html/core/integration/uuid.php on line 83
Notice: Undefined index: properties in /home/servers/web/xxx/public_html/core/integration/uuid.php on line 83
Use BanManager

[2017-06-12 00:14] mmarddel opened #663 "Invalid API key buycraft"
When I enter api key to integrate buycraft with the website, say "invalid api key"

[2017-06-12 11:36] samerton commented on #663
Can you check the API key you are entering is the secret key provided in the Buycraft control panel -> Settings -> Servers -> Edit -> Show Secret Key?

[2017-06-13 01:04] WazUpItsZion opened #664 "Not creating tables"
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? When installing the database tables do not create.
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?

http://imgur.com/a/sZAro
http://imgur.com/a/R0doO
http://imgur.com/a/hPfTX

* Do you have an idea how or where the issue

[2017-06-13 17:16] samerton commented on #664
Unfortunately I have no idea what's going on there, looking at the code you will only get that message if the tables are indeed created, or if the tables already exist.

What happens when you try to continue with the installation anyway?

[2017-06-13 20:46] WazUpItsZion commented on #664
This has been solved, it was just an issue on my end with the SQL database.

Thank you for the help.

[2017-06-13 21:14] samerton commented on #664
No problem, glad it's working!

[2017-06-13 21:14] #664 closed

[2017-06-14 10:23] miguelrisero opened #665 "[Suggestion] Better SEO"
Hello!

I want to make a few suggestions for better SEO.

**Title**

![title_problems](https://user-images.githubusercontent.com/7783276/27126077-9d71dcd4-50f6-11e7-9916-646e3d96510e.png)

**Metadescription** (the same as title problems)

![metadescription_problems](https://user-images.githubusercontent.com/7783276/27126087-a78218e2-50f6-11e7-91bb-d630e38a0248.png)

**H1**

![h1_problems](https://

[2017-06-14 11:01] samerton commented on #665
Thanks for this, it's really helpful. I will improve these for version 2 :)

[2017-06-15 18:07] zikycz opened #668 "Photo avatar"
Hi, how do I change the picture on the forum, how the player has his head, or the avatar as I change it to be on a picture ?

[2017-06-16 00:40] ThatTonybo commented on #668
@zikycz You need to have custom avatars enabled. Otherwise the avatar will be the users Minecraft head (sourced from the supplied IGN / Minecraft Name)

[2017-06-16 00:43] ThatTonybo commented on #661
@BrainRTP what plugin are you using?

[2017-06-16 12:44] zikycz commented on #668
I'd like to put there my own picture

[2017-06-16 16:03] samerton commented on #668
Check out [this topic](https://namelessmc.com/forum/view_topic/?tid=351) for information on changing the default profile picture.

[2017-06-17 18:06] samerton commented on #665
Started in 8a0aacad34fe26c2d29e71298b1aacb8e03928d5

[2017-06-19 06:35] nate2014jatc opened #670 "Apache Error 500"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
Bug?
* In which version of NamelessMC did it occur (1.x.x)?
1.0.16
* How would you describe the issue?
Unable to access any pages after installing.
All addresses result in error 500
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
All relevant logs (php, Apache2, and syslog) hold no clues.
* Do you have an i

[2017-06-19 06:46] nate2014jatc commented on #670
[nl1_query_errors.txt](https://github.com/NamelessMC/Nameless/files/1084018/nl1_query_errors.txt)
I checked the database on a whim and found these.
Not sure if they're relevant.

[2017-06-20 18:57] samerton commented on #670
Unfortunately we will need to find an Apache related error to figure out exactly what's happening.

Can you try editing core/init.php in a text editor, and replace everything inside with [this code](https://gist.githubusercontent.com/samerton/ccf74b29de40810394e7f8d18dc4b5f6/raw/df831764e0b82dafeef7a31807182c1df12a5cdc/init.php) to see if an error will appear on screen?

[2017-06-20 21:29] #670 closed

[2017-06-20 21:29] nate2014jatc commented on #670
Cache error on my end I think.

[2017-06-21 12:38] #478 closed

[2017-06-21 14:04] samerton commented on #661
I'll mark this as closed as it's an issue with the server communicating with Mojang's API, the issue is usually resolved automatically after a while, or the notices can be hidden by disabling error reporting in the AdminCP -> Misc tab.

[2017-06-21 14:04] #661 closed

[2017-06-21 14:05] samerton commented on #663
I'll mark this as closed, if you are still having issues feel free to re-open.

[2017-06-21 14:05] #663 closed

[2017-06-21 14:09] samerton commented on #655
I can't seem to reproduce the issue, both the post count and the thread count update correctly on my end. Can you tell me exactly what you are doing so I can try again?

[2017-06-21 14:10] samerton commented on #651
Any luck with this @PugaBear?

[2017-06-21 14:17] samerton commented on #198
In the upcoming version 2 release, you can set a "parent server" for the homepage query (so it basically accumulates the total player count), however for the foreseeable future this is the only way of having more than 1 server on the homepage.

[2017-06-21 14:17] #198 closed

[2017-06-21 14:18] samerton commented on #157
Inheritance added in the upcoming v2 release

[2017-06-21 14:18] #157 closed

[2017-06-21 20:24] Bayside308 opened #673 "[Suggestion] API additions"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Suggestions
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? I would like a method of creating a post by a specific user to be added to the API, the same way you can create reports and such. For example, the POST arguments would include the username of the player to post, the title of t

[2017-06-21 23:37] Miclebrick opened #674 "Problem with PHP dependencies"
**What kind of issue is it (Question, Bug, etc.)?**
Bug.
**In which version of NamelessMC did it occur (1.x.x)?**
Release 1.0.16.
**How would you describe the issue?**
Says missing dependencies that I have
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?**
Yes:
https://gyazo.com/98bef615dbf8fbfc1c46d28a1905cb11
https://gyazo.com/1aed539b0d91402a49e72a1d721e65cc
**Do you

[2017-06-21 23:44] PugaBear commented on #651
I recall finding something related but I forget what it was. I dont believe it is working currently however I've not had much time to work on it since I started a full time job recently. Feel free to close this if you'd like to, I'll keep experimenting and message you on discord if I need anything.

[2017-06-21 23:58] Miclebrick commented on #674
NVM, fixed it by purging apache

[2017-06-21 23:58] #674 closed

[2017-06-22 20:44] BirkhoffLee commented on #642
Thanks again for the invitation - the Docker Hub repository is up!
https://hub.docker.com/r/namelessmc/nameless-docker/builds/

[2017-06-22 20:44] #642 closed

[2017-06-23 11:37] samerton commented on #534
Added in 4b97d2523ffc936a4ce82e422947b6f5e56ed0ae, credit @relavis

[2017-06-23 11:37] #534 closed

[2017-06-24 15:32] #641 closed

[2017-06-25 14:31] samerton commented on #596
Added in 21072f238fd228e89a306247792d41779b7e57ef along with better email error reporting

[2017-06-25 14:31] #596 closed

[2017-06-25 21:10] samerton commented on #531
Terms and conditions added in 68ceddc556eae500416360946dfcbef112b4cffb

[2017-06-25 21:10] #531 closed

[2017-06-28 15:48] samerton commented on #155
Avatar system hopefully fixed in d8276bb766d35ea31917ecad8929db690618d418 for v2

[2017-06-28 15:54] samerton commented on #668
The ability to set a default avatar has been added in d8276bb766d35ea31917ecad8929db690618d418 for the upcoming version 2

[2017-06-28 15:54] #668 closed

[2017-06-29 13:23] samerton commented on #651
Sure, I'll close this for now. Feel free to re-open at any time :)

[2017-06-29 13:23] #651 closed

[2017-06-29 13:28] samerton commented on #232
This is now possible using the [official plugin](https://github.com/NamelessMC/Nameless-Plugin) :)

[2017-06-29 13:28] #232 closed

[2017-06-29 13:31] samerton commented on #356
Apologies for not being able to discover what the issue was, please feel free to re-open this if you're still looking for help on this.

[2017-06-29 13:31] #356 closed

[2017-06-29 13:33] samerton commented on #429
I'll mark this as closed, thanks for the module (https://github.com/MuhsinunCool/CoreProtect-Lookup-Web-Interface) ;)

[2017-06-29 13:33] #429 closed

[2017-06-29 13:34] samerton commented on #442
Unfortunately I don't believe anything can be done about this as it's Minecraft server-side (caused by plugins modifying the MOTD/player count).

[2017-06-29 13:34] #442 closed

[2017-06-29 13:35] samerton commented on #655
I'll mark this as closed for now, hopefully the upcoming version 2 might help with this.

[2017-06-29 13:35] #655 closed

[2017-07-01 12:41] HimahoYT opened #688 "<A> hover color"
I need help to change the Hover color of the <A> in the theme Superhero because is the same color as the background

Normal: http://imgur.com/PTIX7Fw
Hover: http://imgur.com/KpXWCuB

[2017-07-01 14:19] Hunterherobrine opened #689 "Error Message"
### Template:
* What kind of issue is it (Question, Bug, etc.)?
* In which version of NamelessMC did it occur (1.x.x)?
* How would you describe the issue?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)?
* Do you have an idea how or where the issue occurs?

### Please use image uploading websites such as Imgur or Gyazo

#### Example:
**What kind of issue is it (Question,

[2017-07-01 17:52] #688 closed

[2017-07-01 17:53] samerton commented on #688
Thanks for spotting this, I've fixed it in the latest commit.

For now you can edit **styles/themes/Superhero/css/custom.css** in a text editor, and add this right at the bottom:
[code]
You may need to force a browser refresh (ctrl+F5) to view the changes.

[2017-07-01 17:54] samerton commented on #689
If Nameless is installed in the "forums" directory, this will be the problem.

Nameless needs to be installed in the web root (in this case, public_html), or alternatively you can point a subdomain (for example forums.example.com) to the "forums" directory.

[2017-07-01 19:25] HimahoYT opened #690 "Avatars"
I dont know because some avatars not work:
Version: 1.0.16

Not working: http://imgur.com/bpJ2uKd
Working: http://imgur.com/bpJ2uKd

If I change the size of the avatar to 35 work but in 40 not work. Where of php file I can change the size of the avatar

[2017-07-01 21:03] partydragen commented on #690
cravatar currently have problems so it goes very slow
the 35 size is sure cached so thats why it work but 40 is not cached

Try again later and hopefully cravatar work again

[2017-07-01 21:19] samerton commented on #690
Yep, as @partydragen says this is an issue with the avatar service used in Nameless version 1. The upcoming version 2 release has the option to switch avatar services, which will resolve the problem.

For now I'm afraid you'll have to wait until the third party avatar service is up and running again, it shouldn't be too long.

[2017-07-02 09:22] partydragen commented on #690
Cravatar is working again so i close this Issue

[2017-07-02 09:22] #690 closed

[2017-07-03 05:39] Gonfonix opened #691 "Update Process Not Working On 1.0.16"
### Template:
* What kind of issue is it (Question, Bug, etc.)? Question / Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? Update process not working. The download button takes me to the new website's main home page. How to fix?
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? Yes. An image.
* Do you have an idea how

[2017-07-03 10:19] samerton commented on #691
It seems to have been a temporary issue, hopefully it's resolved itself and I've also prevented the checker from returning the broken URL.
There isn't currently an update available for 1.0.16, as it's still the latest.

[2017-07-04 06:03] Gonfonix commented on #691
Okay thank you for the response.

[2017-07-04 10:04] #691 closed

[2017-07-04 10:05] samerton commented on #689
@Hunterherobrine Any luck with this?

I'll mark this as closed, if you are still experiencing the issue feel free to re-open.

[2017-07-04 10:05] #689 closed

[2017-07-05 23:36] BlackBeltPanda commented on #217
Would love to see this. =)
Since I run a network with multiple servers, each server having it's own groups, it'd be great to display all the groups a user is part of on the website.

[2017-07-09 14:28] DJCookiez opened #696 "[Question] Not just Minecraft?"
* What kind of issue is it (Question, Bug, etc.)? Question
* How would you describe the question? The question is, can it just be used as a normal Forum Software? Not just for minecraft, say, Gmod?

[2017-07-09 14:39] samerton commented on #696
Nameless is centred around Minecraft, so ideally you do need to be running a Minecraft server, however you can disable the "Enable UUID Linking" option in the AdminCP to disconnect accounts from Minecraft.

The upcoming version 2 release has a switch to simply disable all Minecraft integration so it can be used for non-Minecraft websites.

[2017-07-10 03:30] Spikey101 opened #698 "Group synchronisation"
* Bug
* NamelessMC 1.0.1.6 - Spigot 1.8.8 - Latest BungeeCord - LuckPerms - AuthmeReloaded
* I setup group synchronisation with the namelessmc plugin and put the plugin in my bungeecord folder, set the api key in the config and enabled the plugin API. I created a group "testgroup" on the website which gave the ID 4, I went in the bungeecord plugins and edited the GroupSyncPermissions.yml and added

[2017-07-10 09:26] #696 closed

[2017-07-10 09:41] samerton commented on #698
Hi,

Thanks for the report, could you please create the issue in the [Nameless Plugin](https://github.com/NamelessMC/Nameless-Plugin) repository so the plugin devs are able to see it?

[2017-07-10 09:41] #698 closed

[2017-07-10 22:43] Spikey101 opened #699 "Authme Link account bug?"
### Template:
* Bug
* Nameless 2.0 PR2
* A glitch
Create in-game account, Go to website and click Register & Connect Auth-Me account, Enter e-mail address, I will use test@msn.com, Submit, "Your account has been validated please login" Login and log out. Click register, Enter same authme ingame account that we just registered enter a new email address (I will use test1@msn.com) and click submit. "

[2017-07-11 15:43] renzotom opened #700 "Some suggestions for version 2 or up"
# Users profiles
- [ ] You can add here option to add own note to user
- [ ] You can add option to adminCP, we can set how many comments and posts will display on user´s profile
- [x] You can add next page, when there will be too many comments
- [x] When user write comment, option to edit it or delete it
- [ ] When someone write comment, before his name can be also his group
- [x] In page about me

[2017-07-11 17:40] samerton commented on #699
Thanks, I've fixed this in cf6ab8f942375ee89279e8dec0056a1d3139312b :)

[2017-07-11 17:40] #699 closed

[2017-07-11 19:16] Informatique101 opened #701 "AuthMe Link [Enhancement]"
* Enhancement
* PR2
* It's not an issue, but an enhancement suggestion.

I was wondering if it was possible to make it so that a user does not need to link his account to the website, but it would be done automatically upon registering in-game, then he could just login to the website instead of linking the accounts. Or just get rid of the register page and the login page will check if the account

[2017-07-11 19:21] Informatique101 opened #702 "Facebook widget in sidebar"
### Template:
* NMC PR2
* In which version of NamelessMC did it occur (1.x.x)?
* I go into Core->Social and add servers facebook page, but nothing appears on the homepage? I thought that maybe a little box would be found showing how many likes or something, you can see an example here: www.informatiquerivesud.ca/en (unrelated WP website, check the sidebar)

Obviously its in pre release, if this fe

[2017-07-11 20:38] samerton commented on #702
I like the idea of adding a Facebook widget, I can look into it for the full v2 release

[2017-07-11 23:46] samerton commented on #701
Unfortunately Nameless has its own database which is separate from Authme, so the account linking process will always be required.
I can look into moving the linking process from the registration page into the login page though, it sounds like it would make more sense than the current system.

As for an ETA, unfortunately I'm really not sure at the moment as I'm still ironing out the bugs in the r

[2017-07-13 06:42] SuperRonanCraft opened #703 "Visual Vote Glitch"
Bug.
Release 1.0.16.
Vote page glitches after you add more than 4 sites.
Screenshot: http://i.imgur.com/y0ChHB7.png
Maybe is wasn't though out after a certain amount of links?

[2017-07-13 10:25] samerton commented on #703
Thanks for the report, it's hopefully fixed in 0478bbd68159ddb8d93ed821922d7bd1090fbe84, to apply the fix now you can edit **pages/vote.php** in a text editor, delete everything inside, and replace it with [this code](https://raw.githubusercontent.com/NamelessMC/Nameless/0478bbd68159ddb8d93ed821922d7bd1090fbe84/pages/vote.php).

[2017-07-13 10:25] #703 closed

[2017-07-13 11:08] SuperRonanCraft opened #704 "Infractions Issue"
- Bug.
- Release 1.0.16
- Infractions wont save when clicking submit, but when you load the infractions page, none of the profile links on the navbar work, such as messages and alerts.
- No, as the issue would seem to be that the data is not saving, as no records on the mysql database are being written

[2017-07-13 12:07] samerton commented on #704
I believe this has been resolved :)

[2017-07-13 12:07] #704 closed

[2017-07-13 13:37] baxandrei opened #705 "Missed php mail headers"
PHPMail header MIME-Version: 1.0 and Content-type: text/plain; charset=UTF-8 is missing from these files:
/pages/register.php
/pages/signin.php
/pages/api/v1/index.php

It looks like:`				$headers = 'From: ' . $siteemail . "\r\n" .
					'Reply-To: ' . $siteemail . "\r\n" .
					'X-Mailer: PHP/' . phpversion();
				mail($to, $subject, $message, $headers);`

But these need to look like: `				$header

[2017-07-14 03:12] dannygtech opened #706 "Suggestion / Add a Wiki module to NamelessMC."
### Suggestion!
* What kind of issue is it (Question, Bug, etc.)? Suggestion
* In which version of NamelessMC did it occur (1.x.x)? N/A
* How would you describe the issue? A wiki module for NamelessMC. You'd be able to add wiki pages, with tables, text, headers, pictures, etc. So you don't need to use GitHub Wikis or Wikia. You'd also have an option if you'd like members to be able to edit the wik

[2017-07-14 10:44] samerton commented on #706
A wiki is planned as a future module for version 2 :)

[2017-07-15 06:05] dannygtech commented on #706
yeet

[2017-07-15 06:05] #706 closed

[2017-07-15 19:36] samerton commented on #705
Thanks, I'll take a look into it :)

[2017-07-16 08:29] ThatTonybo opened #707 "Add a delete button for the groups (v2)"
Suggestion for v2 - Add a delete group button

[2017-07-16 08:36] ThatTonybo opened #708 "Add a trophies system to v2"
Suggestion for v2: add trophies like xenForo has. Like a user gets a trophy if they post there 1st message, they edit there profile, things like that. You could also make it so every trophy a user earns gives them a point, and each post / action they do on the site adds to there points, then on the members page you can choose to sort members via A to Z or points (highest to lowest, vice versa)

[2017-07-16 10:52] samerton commented on #707
It's already possible, however you can't delete the core 3 groups (Member, Admin and Moderator by default). If it's a group you've created yourself, a delete button will appear.

[2017-07-16 10:52] #707 closed

[2017-07-16 17:43] firestorm942 opened #709 "Installer issue(possible Bug)"
* Bug Installer Issue.
* v1.0.16
* File or dir(/install) not found during install.
* http://imgur.com/a/tqaPe
i not used to asking for help or posting bugs.
But, ive tried a few different times to set this up.
i just need someone to tell me if its me or the code.
i can have read only access set up(ssh) for anyone who would like to look at my apache install or config.

[2017-07-16 18:11] samerton commented on #709
Hi,

The solution can be found [here](https://github.com/NamelessMC/Nameless/wiki/FAQs#im-getting-a-404-not-found-error-whilst-trying-to-install-namelessmc) :)

[2017-07-16 18:33] firestorm942 commented on #709
Tyvm, i had to change it to AllowOverride All. just a FYI for future pple.

[2017-07-16 18:33] #709 closed

[2017-07-18 00:05] ThatTonybo commented on #707
Ohh okay, thanks :)

[2017-07-18 00:08] ThatTonybo opened #710 "New posts badges in forums"
I really think this'll be good.
![image](https://user-images.githubusercontent.com/28176227/28294986-e02de0e4-6ba0-11e7-80b6-455c5bcbf56c.png)
Where I have circled, could you add small badges, so if a user logs on and there's say 2 new posts in that forum, there'll be a badge there saying "2"? Just like how the badges work on subforums.

[2017-07-18 14:18] partydragen commented on #628
@Headhunterzpw You got it solved?

[2017-07-20 09:53] samerton commented on #705
Hopefully resolved in the PR :)

[2017-07-20 09:53] #705 closed

[2017-07-20 17:48] baxandrei opened #719 "Delete button for templates"
**What kind of issue is it (Question, Bug, etc.)?** Bug.

**In which version of NamelessMC did it occur (1.x.x)?** pre v2.

**How would you describe the issue?** After a template is removed from ftp, it still exists on database and generate errors
**Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** PHP ERROR LOG:

**Warning: require(/var/www/.clienti/hartexcraft/custom/te

[2017-07-21 05:45] Informatique101 opened #724 "Website?"
Why has the website not worked for me for the past 10 days or so... www.namelessmc.com cloudflare error...

[2017-07-21 07:30] baxandrei commented on #724
I have the same problem, I think it will solve by itself, it's not the first time it occurs.

[2017-07-21 07:31] BirkhoffLee commented on #724
+1 can reproduce this problem

[2017-07-21 09:47] samerton commented on #724
Sorry about this, it's currently being investigated :)

[2017-07-21 09:57] Norge100 opened #726 "Email subscriptions for news or specific forums"
On V2: subscribe as email

When we got an email:
Moderator or Admin can send all pepole who enable subscribe (can disable as UserCP)
When new news has added
When pepole selected subscribe on forum

I think that's a good idea?

[2017-07-21 22:46] samerton commented on #724
The site's back up and running.

[2017-07-21 22:46] #724 closed

[2017-07-22 20:08] IsS127 commented on #700
What do you mean with
"When player is Warez, it can display Steve/Alex instead of icon with broken image"?

[2017-07-23 18:46] CyberZ0mbie opened #730 "Version 1.0.16 no installer"
Trying to install Version 1.0.16 but when i select New install I am redirected to example.com/install and that doesn't exist. I've gone back a few versions and none of them have install folders. Is there any way to get this?

[2017-07-23 19:01] Tim-NL commented on #730
What webserver do you have, and if it's Apache, do you have mod rewrite enabled?

[2017-07-23 19:02] CyberZ0mbie commented on #730
Apache, and yes. Its a shared web host.

On Jul 23, 2017 3:01 PM, "Tim" <notifications@github.com> wrote:

[2017-07-23 19:07] Tim-NL commented on #730
Are sure that you uploaded all the files? Including the .htaccess? I just downloaded a new copy from here, uploaded it and it gives the install wizard.

[2017-07-23 19:08] CyberZ0mbie commented on #730
Hmm. Yea, I uploaded the zip and extracted it right there. Ill double check

On Jul 23, 2017 3:07 PM, "Tim" <notifications@github.com> wrote:

[2017-07-23 20:43] partydragen commented on #730
Is its installed in root? v1 Must be installed in root folder

[2017-07-27 12:08] miguelrisero commented on #665
**Another suggestion:**
For all external links in signatures and forum (just externals, if the link is to the same domain no problem), add target="_blank" rel="noopener nofollow", otherwise the page with that links is giving free pagerank to the other.

**Examples:**

**Xenforo**
![5244857162e49d892bbaad26744db048](https://user-images.githubusercontent.com/7783276/28669328-28754006-72d4-11e7-8265-

[2017-07-31 00:48] fenix12585 opened #731 "Nameless 1.0.16 won't install"
I have successfully installed nameless 2.0, but it was not good to go live with, so I deleted it completely and download the recommended version 1.0.16.

When going to my site, i get to the usual install page. It prompts me for new install or upgrade.
I pick new install
then i get an error 404 not found page. the url is:
https://enderbyte.com/install?step=requirements
I am running nginx latest ver

[2017-07-31 01:46] fenix12585 commented on #731
ok, you can close this. You just have to go in to the server block and change
    location / {
        try_files $uri $uri/ =404;
    }

to:
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

Then restart nginx and the rewrites will work

[2017-07-31 01:46] #731 closed

[2017-07-31 09:17] Derkades commented on #719
Isn't there a delete button in AdminCP?

[2017-07-31 09:39] samerton commented on #731
Glad you could resolve the issue :)

[2017-07-31 09:42] baxandrei commented on #719
Nope. There îs no delete button

[2017-07-31 09:43] samerton commented on #719
The ability to delete templates properly is coming soon.

[2017-08-02 14:24] HockeyCockey16 opened #732 "Russian Support"
-  What kind of issue is it (Question, Bug, etc.)?
**Question**
- In which version of NamelessMC did it occur (1.x.x)?
**Release 1.0.16.**
- How would you describe the issue?
**I type the russian (such as Пример) and it change to ?? how to fix it?**
- Do you have an idea how or where the issue occurs?
**I don`t know**

**P.S.**
If i change **varchar** to **nvarchar** in Queries.php it can help me?

[2017-08-02 15:25] samerton commented on #732
Unfortunately in version 1 this depends on your web host configuration so it can't be fixed; hopefully the upcoming version 2 release will fix this though.

[2017-08-02 16:21] HockeyCockey16 commented on #732
Thanks, i will wait version 2. I hope it will be released soon.

[2017-08-02 17:01] HockeyCockey16 commented on #732
I accidentally found way, how to fix this error. In problemmed tables i changed encoding from latin1 to utf8mb4_unicode_ci and it start works without errors :)
P.S.
I used phpMyAdmin for editing database

[2017-08-02 18:40] #732 closed

[2017-08-02 19:46] #636 closed

[2017-08-02 19:48] Derkades commented on #427
Is this fixed in v2? I think we can close this.

[2017-08-03 01:46] jasoryeh opened #733 "Your core directory is not writable"
I tried to set it up so that it works like this: My main website is / and my forums is /forums.
I get this:
At /forums of my domain
![image](https://user-images.githubusercontent.com/13290941/28902273-becc189e-77b2-11e7-95ce-c503e3f2706b.png)
At /forums/index.php
![image](https://user-images.githubusercontent.com/13290941/28902228-8b5a11be-77b2-11e7-9f94-58acd7916a47.png)
Idk what I did wrong...
I

[2017-08-03 01:47] jasoryeh commented on #733
Before, I've tried to put it in the forums folder of /var/www/html/ and I get "Your core directory is not writable, please check your file permissions."

[2017-08-03 03:39] kamrxxn opened #734 "Cant post in profile status"
What kind of issue is it (Question, Bug, etc.)?** Bug.
In which version of NamelessMC did it occur (1.x.x)?** Release 1.0.16.
How would you describe the issue?** I can not post in my or anyone elses profile pic, I cannot click on the options either.
Do you have (relevant) resources about this issue (Logs, pictures, etc.)?** Yes, I have the a screenshot of it. [[Click here](http://prntscr.com/g3pjg

[2017-08-03 09:14] samerton commented on #733
Unfortunately I don't know much about nginx, however you will need to make sure the `location /forums` section in your nginx configuration matches the [example nginx config](https://raw.githubusercontent.com/NamelessMC/Nameless/master/nginx-non-ssl.example) so the rewriting works correctly.

[2017-08-03 09:16] samerton commented on #734
It looks like you may have upgraded from an old Nameless version straight to 1.0.16, which is not possible to do (for example, you need to upgrade from 1.0.8 -> 1.0.9 -> 1.0.10 -> 1.0.11 and so on). If this is the case, you will need to install the files from the version you were running previously and then keep upgrading through the AdminCP until you reach the latest version.

[2017-08-03 12:07] baxandrei commented on #733
Try this:
`	location /forums {
		try_files /forums/$uri /forums/$uri/ /forums/index.php?$args;
	}`

or

`	location /forums {
		try_files forums/$uri forums/$uri/ forums/index.php?$args;
	}`

[2017-08-03 12:08] baxandrei commented on #730
Rewrite engine is on and working?

[2017-08-03 14:43] baxandrei commented on #427
In tested on v1 and v2 and work correctly , but depend in server settings, i haved an shared host and email wont send because îs in mail blocklist or îs spam like content

[2017-08-03 18:16] CyberZ0mbie commented on #730
All good now. Thanks all.

On Aug 3, 2017 8:08 AM, "Eftimie Andrei" <notifications@github.com> wrote:

[2017-08-03 19:46] kamrxxn commented on #734
No I have not upgraded from an old Namelessmc version.

[2017-08-03 19:48] baxandrei commented on #730
You're welcome.

[2017-08-03 21:23] samerton commented on #730
Glad it's working :)

[2017-08-03 21:23] #730 closed

[2017-08-03 21:33] samerton commented on #734
Unfortunately I'm really not sure what's going on then, perhaps the table was manually deleted by accident at some point.

Can you create a new file in the **pages** folder named **fix.php**, paste [this code](https://gist.githubusercontent.com/samerton/6708ec8425798ef5772cddfeade32503/raw/282cb58b4a77b3aeaf0b828abbfa33ee2935971d/fix.php) inside, and then visit yoursite.com/fix?

Hopefully you wil

[2017-08-04 15:40] jasoryeh commented on #733
@baxandrei  First one gives 404, second one gives a file not found.

[2017-08-04 15:42] Derkades opened #735 "Gallery function in editor"
![image](https://user-images.githubusercontent.com/15892014/28975922-2d08627e-793c-11e7-8ee2-9aa2c80b1718.png)
A gallery with buttons to go to the next and previous picture.

[2017-08-04 16:17] samerton commented on #733
Just realised that you're running Nameless in a subdirectory; you either need to configure a subdomain (eg forums.yoursite.com) or install Nameless in the web root as version 1 of Nameless does not support subdirectory installations.

[2017-08-04 16:30] #538 closed

[2017-08-04 16:35] Derkades commented on #535
I think @samerton would rather not have to code a file uploader if he doesn't have to. Ask your users to use links to e.g. dropbox or google drive for attachments, it will save on storage and bandwidth as well. For pictures just upload to imgur and insert an image.

[2017-08-04 16:35] #535 closed

[2017-08-04 16:40] kamrxxn commented on #734
Thank you soo much, that's fixed but I still cant click [these](http://prntscr.com/g4egh1) buttons? Any solution to that?

[2017-08-04 17:04] MuhsinunCool commented on #538
Has this been resolved?

[2017-08-04 17:05] Derkades commented on #538
I thought your question had been answered (not possible to modify globally)

[2017-08-04 18:48] MuhsinunCool commented on #538
The other way around. I was told it can only be modified globally. I was wondering if that was fixed.

[2017-08-04 21:22] samerton commented on #734
Mind sending me a link to your site so I can take a look?

[2017-08-05 01:06] kamrxxn commented on #734
Yes, [thequadpvp](https://thequadpvp.net/)

[2017-08-05 09:16] baxandrei commented on #735
This idea is wonderful. Users have the ability to add screenshots or artworks to the site. It would be nice.

[2017-08-05 09:18] baxandrei commented on #734
I visited your website and I see some pages not work from users profile like: https://thequadpvp.net/profile/KartoffelPirat13 and nother work, strange..

[2017-08-05 09:19] baxandrei commented on #719
Thanx.

[2017-08-05 09:21] baxandrei commented on #700
In some cases, if avatar have problems or non-premium account show an avatar with an "?" on it or nothing.

[2017-08-05 09:25] baxandrei opened #736 "v2 not support special characters on email."
v2 not support special characters on email like: ă, â, Ă, Ţ, Î and others.

https://i11.servimg.com/u/f11/17/31/96/85/screen10.png

[2017-08-05 09:51] samerton commented on #734
It seems like there are more missing tables for some reason, I have new code for the **pages/fix.php** file [here](https://gist.githubusercontent.com/samerton/6708ec8425798ef5772cddfeade32503/raw/c9940c976b031f6d2d54634181cf03fe9137c6b2/fix.php) which should repair any missing tables throughout the whole site.

If you create a new file called **pages/fix.php**, paste that code inside, and then go

[2017-08-05 11:47] IsS127 commented on #700
Ah alright

[2017-08-05 17:30] kamrxxn commented on #734
Thank you so much you guys have the best support, I'm not sure If I have to create another thread for this but I just wanted to ask how do I edit the HTML in a email?

[2017-08-05 17:37] kamrxxn commented on #734
Another issue that I when I search for a user in thequadpvp.net/profile it redirects me to a HTTP ERROR 500.

[2017-08-05 17:41] baxandrei commented on #734
To edit html of email You need to go in register file or edit lang file

[2017-08-05 17:47] kamrxxn commented on #734
Where is the register file?

[2017-08-05 17:48] baxandrei commented on #734
V1 or 2

[2017-08-05 17:48] kamrxxn commented on #734
V2

[2017-08-05 17:50] baxandrei commented on #734
/modules/Cote/pages

[2017-08-05 17:56] kamrxxn commented on #734
I'm sorry but I can't edit the HTML of the email there..?

[2017-08-05 19:05] kamrxxn commented on #734
Nvm, I found out where it's located. :D

[2017-08-06 03:49] kamrxxn commented on #734
Also, is there a way the applications can see the comments? So they know the reason of their denial.

[2017-08-06 07:04] baxandrei opened #737 "Missing icon from textarea and emoji popup buttons exit from element."
https://i11.servimg.com/u/f11/17/31/96/85/screen11.png missing textarea emoji button icon

https://i11.servimg.com/u/f11/17/31/96/85/screen12.png emoji popup buttons exit from element

[2017-08-08 09:40] Derkades commented on #733
Did the solution provided by Samerton work for you @jasoryeh ? If so please close the issue

[2017-08-08 09:49] baxandrei commented on #734
Verify permissions of module

[2017-08-08 11:00] Derkades opened #738 "Addon to get data from the Statz plugin"
https://www.spigotmc.org/resources/statz.25969/

Statz collects a lot of data about players

[2017-08-08 14:03] samerton commented on #736
@baxandrei Is the "Enable PHPMailer?" option in the AdminCP -> Core -> Email tab enabled or disabled?

[2017-08-08 14:08] samerton commented on #623
Just some updates:

2. Should now be fixed
3. Complete
5. Added
6. Also added

v2 pre-release 2 should have resolved these issues :)

[2017-08-08 14:08] #623 closed

[2017-08-08 14:52] baxandrei commented on #736
I use an advanced phpmail() that allow me settup an smtp server to send emails. :msmtp

But i tested with default sendmail, msmtp and smtp and looks like this.

[2017-08-08 15:03] samerton commented on #736
Can you apply the changes from [this commit](https://github.com/NamelessMC/Nameless/commit/eeb3186ccd0512659fcbc599c3d10e20563d6cca) if you haven't already?

[2017-08-08 15:15] baxandrei commented on #736
I will try and return with result

[2017-08-08 16:23] kamrxxn commented on #734
Huh what?

[2017-08-08 18:39] samerton commented on #702
Added in 5efb9ddcf4ba9dafab14e8b4baa8a0e8ffc19fee

[2017-08-08 18:39] #702 closed

[2017-08-08 23:09] Noblesuntzu opened #741 "403 Forbidden Error"
Okay super sorry if this is not the right way to go about this but a server that I'm staff on, one of the servers just kinda... reset. Not entirely, but player data and server properties have been reset. On the web site I get this error
Forbidden

You don't have permission to access / on this server.

Possible causes of this error include:

The request was forbidden by rules in the .htaccess file.

[2017-08-08 23:18] godleydemon commented on #741
Do you have access to sql database? If so, you can give your user account super admin rights. If the server got reset Though, your going to need to reinstall after making a backup of your current stuff and then see about rebuilding the user database. Because reset to me sounds like you've completely lost the user database.

[2017-08-08 23:57] Noblesuntzu commented on #741
I meant the files called server properties and playerdata (on the actual server, these are the vanilla server components that track player data), I'm not sure if this is related to the website shutting down, was just putting it out there XD

[2017-08-09 00:02] godleydemon commented on #741
Oh your talking about your Minecraft server? Or?

[2017-08-09 02:12] jasoryeh commented on #733
I haven't gotten around to trying it.

[2017-08-09 07:09] Derkades commented on #741
Run `chmod -R www-data:www-data /path/to/nameless` for debian/unbuntu or `chmod -R apache:apache  /path/to/nameless` for CentOS

[2017-08-09 11:41] baxandrei commented on #736
it is already text/html

[2017-08-09 12:00] Noblesuntzu commented on #741
As I said, I'm staff ON the server (so no)

[2017-08-09 14:55] kamrxxn commented on #734
Hi, If I upgraded from V1 to V2 will the users have to register all over again? @samerton

[2017-08-09 15:31] Derkades commented on #741
Then ask the server owner to do this if you can't?

[2017-08-09 17:59] samerton commented on #734
Nope, v2 includes an upgrade process so users and forum posts on your v1 site will be transferred to the v2 site.

[2017-08-09 18:20] samerton commented on #736
Does it also have `charset=UTF-8`?

If so, unfortunately I don't know why that's happening as I can't reproduce the issue.

[2017-08-09 22:25] IsS127 commented on #741
Well, its the permissions that are messed up, that's why derkades provided those commands to run, someone that has access to ssh can run those commands.

[2017-08-10 15:51] kamrxxn commented on #734
Is there like an upgrade script or something? Or do I just delete the V1 files and paste in the new V2 files?

[2017-08-10 16:04] baxandrei commented on #736
I checked again. All is well. It should be noted that only in the subject of the message are not supported these characters, its content goes.

[2017-08-10 18:03] Derkades commented on #734
Replace the files, then in the v2 installer choose upgrade from v1

[2017-08-10 20:14] sfkwww opened #742 "Where is the forum label code?"
I want to create rank tags for my forum with more certain colors, but I'm not very familiar with html so I don't know where to find the code for the labels, or where to put it once I do find it. I read that a year ago it was in custom.css, but I can't find it there anymore.

[2017-08-10 21:04] samerton commented on #742
In version 1 you can't create any extra label colours, you can only use the ones already there.

The upcoming version 2 release already has custom label colours added.

[2017-08-11 15:30] kamrxxn commented on #734
I get bunch of these errors, [link](http://prntscr.com/g7a3o6)
 [link](http://prntscr.com/g7a3ry )[link]( http://prntscr.com/g7a3y2). And at last, when I do continue nothing is the same as the old Version, like users, forums and stuff.

[2017-08-11 15:51] samerton commented on #734
Version 2 has already been installed in your database, you will need to delete all tables in there beginning with `nl2_` (not `nl1_` or you will remove your v1 installation data) and then try again.

[2017-08-11 18:03] kamrxxn commented on #734
How do I do that?

[2017-08-11 22:11] samerton commented on #734
You can use something like phpMyAdmin if your web host provides you with it.

[2017-08-12 02:56] kamrxxn commented on #734
Alright, I fixed it. Thank you so much guys! You guys have the best customer support.

[2017-08-12 05:05] Amiroslo opened #743 "Xampp warnings"
* What kind of issue is it (Question, Bug, etc.)? Bug
* In which version of NamelessMC did it occur (1.x.x)? 1.0.16
* How would you describe the issue? Warrning
* Do you have (relevant) resources about this issue (Logs, pictures, etc.)? Pastebin
* Do you have an idea how or where the issue occurs? Check pastebin below

https://pastebin.com/hc0FD3Ew

[2017-08-12 09:17] samerton commented on #743
These won't cause any issues, and can be hidden by disabling "Enable error reporting" in the AdminCP -> Misc tab.

[2017-08-12 09:18] samerton commented on #734
No problem, glad it's fixed! I'll go ahead and mark this issue as closed, if you have any further questions feel free to re-open :)

[2017-08-12 09:18] #734 closed

[2017-08-12 10:19] renzotom commented on #700
Yeah, I thought that

[2017-08-14 10:28] Derkades commented on #743
XAMMP is made for development environments, not for production use. Warnings are enabled by default. Like @samerton said above these warnings can be disabled, but keep in mind that XAMMP has many security features disabled to make it easier for developers. It is not safe to use as a public webserver.

[2017-08-14 15:56] Amiroslo opened #744 "Images as thumbnails for items in shop"
Suggestion: To be able to add thumbnails/gifs on items in the shop. Really annoying that we cant have images as thumbnails for the items :/

[2017-08-15 16:28] Root3287 opened #745 "Language issues"
Discussion/Question
Every version that has multiple languages
Different countries have different rules https://youtu.be/0j74jcxSunY
Nope
Nature of language

[2017-08-15 16:38] kamrxxn commented on #734
I'm sorry for giving so much trouble but I got this new theme for namelessmc v2 and this thing looks very odd. The author of this theme isn't replying either so I wanted to ask here.. How do I fix this? :/

[link](http://prntscr.com/g8tmub)

[2017-08-15 17:32] Derkades commented on #745
And in that video Tom also explains why software generally is in English only or does not support languages very different from English. Dealing with this is a pain in the ass.

I am not sure why you linked that video as a reason for @samerton to implement this, since I think the main point of the video is to highlight the complexity in program internationalisation.

[2017-08-15 20:01] samerton commented on #745
At the moment there are no known situations where the current translation system isn't sufficient (in v2 anyway).

[2017-08-15 20:02] samerton commented on #734
I'm afraid I'm not sure, only the theme author would be able to help you out with that.

[2017-08-16 01:52] TheMinorz commented on #735
I agree! This would be a great addition!

[2017-08-16 01:55] BluLightShow opened #746 "Custom pages in v2.0"
It would be really great to get custom pages support in v2.0. (Doesn't even need to be a full Pre-Release version)

[2017-08-16 16:43] Derkades commented on #745
As explained in the video, the current translation system is insufficient for some languages with special rules different from English, for example in some languages part of or an entire phrase might be different if just one word changes, so just replacing {x} will not work.

[2017-08-16 20:26] Amiroslo opened #747 "[Enhancement] Ability to order navbar list"
Would be great if there would be a way to re-order the navbar links in the order we want through the panel!

[2017-08-16 20:26] samerton commented on #747
It's planned, probably at some point after v2's release.

[2017-08-16 20:27] samerton commented on #746
Coming very soon :)

[2017-08-16 20:28] samerton commented on #745
When these issues are found the terms can be updated to resolve them, however with our current translations there aren't any problems. As I can't really plan ahead for this, I'll mark this issue as closed.

[2017-08-16 20:28] #745 closed

[2017-08-16 20:32] baxandrei commented on #734
Compare default template menu and new

[2017-08-18 20:49] aycgit opened #748 "ci link is broken on readme"
just a quick unformatted report that the ci link in the readme returns a 404

[2017-08-18 22:35] samerton commented on #748
Thanks, fixed in 21918fc1b731b43fdb488b774b580083e5d76e79#diff-04c6e90faac2675aa89e2176d2eec7d8

[2017-08-18 22:35] #748 closed

[2017-08-23 12:04] #743 closed

[2017-08-23 12:07] samerton commented on #741
Were you able to resolve this issue @Noblesuntzu?

[2017-08-23 16:40] Derkades commented on #741
I just realised, a 403 forbidden error in Nginx (apache as well probably?) can often also indicate an empty directory. It may be that your entire Nameless installation is gone.

[2017-08-23 18:00] samerton commented on #742
I'll mark this as closed as it's in v2

[2017-08-23 18:00] #742 closed

[2017-08-23 18:18] #280 closed

[2017-08-23 18:19] IsS127 commented on #281
Sorry.. i totally forgot about this.
Ill do this sometime later for v2

[2017-08-23 18:19] #281 closed

[2017-08-23 18:21] #284 closed

[2017-08-23 18:36] samerton commented on #427
Unfortunately this isn't something I can add options for within Nameless, however in v2 emails are sent from a centralised class so making code modifications is easier.
As the majority of configurations work with the default Nameless config I'll keep it how it is currently, but I'll create a guide in the future on modifying the email config for instances like this.

[2017-08-23 18:36] #427 closed

[2017-08-23 19:14] samerton commented on #217
Added in 7289744c7ba1aebae3c334b5217554e77aaabd39 (v2)

[2017-08-23 19:14] #217 closed

[2017-08-23 21:07] samerton commented on #733
Were you able to get any further with this @jasoryeh?

[2017-08-23 22:52] samerton commented on #719
Added in 083fbd922ecf156aade77f5a5aafc4284113da30

[2017-08-23 22:52] #719 closed

[2017-08-25 20:04] puttydotexe opened #750 "Potential Security issues/flaws."
Whilst checking my web server that is only currently running NamelessMC this appeared on my screen:

_+ Server: Apache/2.4.6 (CentOS) PHP/5.4.16
+ Retrieved x-powered-by header: PHP/5.4.16

+ The anti-clickjacking X-Frame-Options header is not present.
+ Cookie PHPSESSID created without the httponly flag
+ DEBUG HTTP verb may show server debugging information. See http://msdn.microsoft.com/en-us/l

[2017-08-25 20:05] puttydotexe commented on #750
Some of these issues could be chased down to the webserver I'm running (httpd) and it's mostly stock configuration, however this is the type of setup most NamelessMC users will be running with therefor I do believe if these are what they seem to be, need to be fixed.

[2017-08-25 21:04] samerton commented on #750
A lot of those don't seem to be anything to do with Nameless, most of the .php files mentioned are not part of the software. If I'm honest I don't think there's anything to be concerned about in the test results, the only lines to do with Nameless would be:
[code]

[2017-08-26 02:25] jasoryeh commented on #733
Closing because this forums software is not what I was looking for.

[2017-08-26 02:25] #733 closed

[2017-08-26 07:12] Derkades commented on #750
Are you running the latest versions of packages on your server?

Probably not, because I'd think a bug like this would already be fixed by now:
`///etc/hosts: The server install allows reading of any system file by adding an extra '/' to the URL.`

And the /help/ directory does not exist in NamelessMC, Wait - "Netscape" - What webserver are you using!?
[code]

[2017-08-26 07:16] Derkades commented on #750
Are you running the latest versions of packages on your server?

Probably not, because I'd think a bug like this would already be fixed by now:
`///etc/hosts: The server install allows reading of any system file by adding an extra '/' to the URL.`

And the /help/ directory does not exist in NamelessMC, Wait - "Netscape" - What webserver are you using!?
[code]

[2017-08-26 15:16] samerton commented on #495
Added in 6d84ae479bd940c857568a3067e783aa042bcd54

[2017-08-26 15:16] #495 closed

[2017-08-26 18:14] baxandrei opened #762 "Live demo page"
My suggestion: Make a live demo page with latest commits from github.

[2017-08-26 18:23] samerton commented on #762
https://namelessmc.com/ will always be our only demo site available, unfortunately it's not possible currently to keep updating it after every commit though, however manual updates are applied from time to time.

[2017-08-26 20:35] Derkades commented on #762
The code in the GitHub repo is not always working, which is why manual updates need to be done. Database changes would be difficult to manage as well.

[2017-08-26 20:35] #762 closed

[2017-08-26 20:40] Derkades opened #763 "List from what module widgets are from in the widget list"
Suggestion by Partydragen
![image](https://user-images.githubusercontent.com/15892014/29744950-59f68818-8aaf-11e7-98dd-f969f05be707.png)

[2017-08-27 06:59] Derkades opened #764 "Player graphs"
Ways to make this:
1) On the website, ping the server every time the website is loaded if it hasn't done so in half an hour.
Pros: People won't need to do any work
Cons: This will produce blanks for people with less popular websites

2) On the website server, ping the server every half an hour by setting up a cron job.
Pros: No need for a plugin but still very consistent
Cons: This will be hard to

[2017-08-27 21:55] samerton commented on #764
1 and 2 added in 71e4bcc193f4e7316f12632fefbd3bdfce51c988

[2017-08-28 10:58] samerton commented on #665
target="_blank" and rel="noopener nofollow" added to every external link since 82dbf583375c6b1b8dfb9950ba7803f6c1b0de5c

[2017-08-28 11:52] samerton commented on #750
I'll mark this as closed for now as I don't think it's Nameless related, however please feel free to re-open.

[2017-08-28 11:52] #750 closed

[2017-08-28 13:00] samerton commented on #628
I'll mark this as closed @Headhunterzpw, if you weren't able to resolve the issue please feel free to re-open.

[2017-08-28 13:00] #628 closed

[2017-08-28 13:16] puttydotexe commented on #750
I'm running the latest version of NamelessMC, I've tested both latest release and directly from GitHub.

Some of the results ARE down to my web-server however some things are not, just tested my web-server with and without Nameless installed and issues only occurred whilst Nameless was installed, I believe this may be down to the way that Nameless does things. such as:

OSVDB-9392: /userinfo.php?u

[2017-08-28 13:32] Headhunterzpw commented on #628
@samerton It was fixed by writing the tables manually into the config.php so it was resolved actually

[2017-08-28 13:52] samerton commented on #750
@puttydotexe
Thanks for the condensed list, only one of the files in the list is from Nameless (index.php), which would be the line
[code]
I don't think this is anything to worry about to be honest, it seems to be a false positive.

[2017-08-28 14:26] puttydotexe commented on #750
I'll take a further look into the objects on the list and get back to you via PM __(I think if i find anything it's probably better I PM you instead of releasing to the entirety of GitHub)__

Just to clarify, These are not Nameless files?:

OSVDB-12184: /some.php?=PHPE9568F36-D428-11d2-A769-00AA001ACF42: PHP reveals potentially sensitive information via certain HTTP requests that contain specific

[2017-08-28 14:32] samerton commented on #750
@puttydotexe Correct, there isn't a some.php file in Nameless

[2017-08-28 14:35] puttydotexe commented on #750
Thanks for the clarification @samerton, As I said I'll run a few more tests and PM you the results if they reveal any more details on this issue. Feel free to re-close the thread if it isn't already.

~ puttydotexe

[2017-08-28 15:18] baxandrei opened #772 "sugestion FAQ or Knowledge Base"
My suggestion: add an faq or Knowledge Base module with categories and topics where webmaster can settup answers to questions and more other things.

Example: http://demo2.themewarrior.com/iknowledge/ , http://deskpress.thimpress.com/ , http://demo.wpsmartapps.com/themes/manual/home-11/

[2017-08-28 15:24] samerton commented on #772
A wiki is coming soon, probably alongside version 1's release.

[2017-08-28 15:37] baxandrei commented on #772
Oh, ok, thanx

[2017-08-28 15:37] #772 closed

[2017-08-28 21:04] #736 closed

[2017-08-28 21:10] baxandrei commented on #490
In like this suggestion, and some users don't know how edit scripts.. this future option îs a good addon.

[2017-08-29 11:51] samerton commented on #741
I'll mark this as closed as it's down to server configuration, feel free to re-open if you're still experiencing issues.

[2017-08-29 11:51] #741 closed

[2017-08-29 11:52] samerton commented on #506
Sorry for the nearly 9 month old reply, were you ever able to resolve this @dangerORclose?

[2017-08-29 17:09] Derkades opened #782 "Move buttons to save space"
Suggested by and image credit to Eufranio#0642 in the Discord
![image](https://user-images.githubusercontent.com/15892014/29833899-4b26423e-8ced-11e7-881b-2edc93cf9fe5.png)

[2017-08-29 17:32] dangerORclose commented on #506
No none.

[2017-08-29 17:32] dangerORclose commented on #506
No solution found*

[2017-08-29 17:54] samerton commented on #581
A user has trialled the v2 pre-releases on their server where they were experiencing the `?` issue for Chinese characters, and they have said the v2 pre-release has fixed their problem.

[2017-08-29 17:56] samerton commented on #506
I'd imagine the query used is not compatible with SRV records, if you try the IP address directly does it work?

[2017-08-31 20:41] IsS127 commented on #782
I think they should swap places instead.

[2017-09-06 16:04] samerton commented on #538
Now possible in v2 after e9178adff513726bfe8f5b93fe2912f89d8f12db and 70c043269a4bcf416f1c0903dcea07e61508f483, using the $template_pagination array

[2017-09-06 22:25] MuhsinunCool commented on #538
Thanks!

[2017-09-13 11:47] Awtra commented on #782
Can be put into place. Thanks :)

[2017-09-13 12:12] samerton commented on #782
Added in 41af7387073362685c39736cabdb657aac3ea925

[2017-09-13 12:12] #782 closed

[2017-09-15 08:09] Derkades commented on #764
In my opinion having the third option is no longer necessary since the combination of 1 and 2 works pretty good. What's your opinion on this @samerton ?

[2017-09-15 10:45] baxandrei commented on #764
În some cases, #3 îs necesary because no posibility fi settup cronjob

[2017-09-15 14:00] Derkades commented on #764
@baxandrei But then option 1 should be sufficient maybe.

Anyway @samerton if you add an API method for this let me know, I'll add it to the plugin

[2017-09-17 18:31] H4nSolo opened #784 "Some Suggestions for NL v2 Texteditor"
* What kind of issue is it (Question, Bug, etc.)?
  - Suggestion
* In which version of NamelessMC did it occur (1.x.x)?
  - Latest Nameless v2 Release
* How would you describe the issue?
  - extension of the text editor

Description:

I think that some extensions maybe include into the Texteditor too.

- Font style:
   A Select Menu to change the text Font / Style
- Ruler:
  On the left side of th

[2017-09-17 19:46] baxandrei commented on #784
I agree with you

[2017-09-24 01:30] TjeuVreeburg opened #787 "Your core directory is not writable, please check your file permissions."
### Template:
**Issue**
Permissions

**Version**
pre-release 2.0.0

**Description**
Core directory not writable because no permissions?

**Resources**
Logs:
"Your core directory is not writable, please check your file permissions."

**Idea of the issue**
Something todo with index.php? not sure

Thanks,
Stef

[2017-09-24 11:29] samerton commented on #787
This depends on your operating system and where Nameless is installed. I'll assume Nameless is installed in **/var/www/html** in these examples, and you're using Apache.

Ubuntu/Debian:
`sudo chown -R www-data:www-data /var/www/html`

CentOS:
`sudo chown -R apache:apache /var/www/html`

[2017-09-24 14:36] H4nSolo commented on #787
1. Check the permission level on your webroot folder
2. Be Sure that your Webserver Configuration alraid set up for using Modrewrite.

[2017-09-24 18:08] TjeuVreeburg commented on #787
Yep that is exactly what I am doing cause hosted on a VPS. I will try it out :)

[2017-09-25 11:17] samerton commented on #787
Glad to hear :)

[2017-09-25 11:17] #787 closed

[2017-09-30 20:39] SteveTastisch opened #789 "Question"
Hello,

I have a question and can be assigned to the groups tags in a 'Span', just where do I find this?

Best regards,
Steven

[2017-09-30 21:28] samerton commented on #789
In the AdminCP -> Users and Groups -> Groups tab, you will see a "Group HTML" and a "Group HTML Large" field whenever you create or edit a group.

You can use any HTML in there, such as an `<img>` tag if you have an image you'd like to use, or you can use the built-in Bootstrap labels, which can be found [here](https://getbootstrap.com/docs/3.3/components/#available-variations) if you're using Nam

[2017-10-01 16:17] SteveTastisch opened #790 "Where can I find the directory from the Bootstrap labels ?"
Hello,

where can I find the directory from the Bootstrap labels ?

Best regards,
Steven

[2017-10-01 17:41] #789 closed

[2017-10-01 17:44] samerton commented on #790
Not sure I understand the question I'm afraid, the labels are listed in the [Bootstrap docs](https://getbootstrap.com/docs/3.3/components/#available-variations) and the code for them is in styles/themes/*theme*/css/boostrap.min.css, and if you want to add more labels you can follow the steps in [this post](https://www.spigotmc.org/threads/namelessmc.88001/page-45#post-1840257).